/* ============= Site Variables ============ */

/* ====== Colors ===== */
@dark-blue: #004990;
@light-blue: #508ecc;
@sky-blue: #dceaf7;
@yellow: #faffd9;
@peach: #fff8db;
@orange: #fcaf17;
@light-green: #b8cb33;
@dark-green: #3eae48;
@dark-green: #3eae48;
@maroon: #9d1c20;
@red: #d1262b;
@copy-gray:#3e4347;
@dark-gray: #515254;
@med-gray: #a4a7ab;
@med-light-gray: #c3c5c7;
@light-gray: #edeff0;

/* ======= Fonts ====== */
@roboto: 'Roboto', sans-serif;
@robotoCon: 'Roboto Condensed', sans-serif;

/* ============= End Site Variables ============ */

/* ============= Global Site Settings ============ */

html, body{
	height: 100%;
	h1, h2, h3, h4, h5, h6{
		font-family: @roboto;
	}
	h1{ font-size: 64px; }
	h2{ font-size: 48px; }
	h3{ font-size: 32px; }
	h4{ font-size: 24px; }
	h5{ font-size: 20px; }
	h6{ font-size: 18px; }
	p, ul, ol{
		font-family: @roboto;
		font-size: 18px;
		line-height: 36px;
		color: @copy-gray;
	}
	a{
		color: @dark-blue;
		text-decoration: none;
		&:visited{
			color: @light-blue;
			text-decoration: underline;
		}
		&:hover{
			color: @light-blue;
			text-decoration: underline;
		}
	}
	table{
		font-family: @robotoCon;
		font-size: 20px;
		color: @copy-gray;
		p{font-size: 20px;}
		@media(min-width:768px) and (max-width:1531px){
			font-size: 14px;
			p{font-size: 14px;}
		}
		@media(min-width:1532px) and (max-width:1704px){
			font-size: 16px; 
			p{font-size: 16px;}
		}
		thead{
			th{
				padding: 5px !important; 
			}
		}
	}
}
.site-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
/* ========== Backgrounds ========= */
.white-bg{ background: white; }
.inner-white-bg{ background: white; }
.gray-bg{ background: @light-gray; }
.med-gray-bg{background: @med-gray;}
.light-blue-bg{background: @sky-blue; }
.dark-blue-bg{background: @dark-blue;}
.med-blue-bg{background: @light-blue;}
.light-gray-bg{ background: #f6f7f7;}

/* ========== Colors ========= */
.red{ color: @red !important;}
.dark-blue{color:@dark-blue !important;}
.light-blue{color: @light-blue !important;}
.orange{color: @orange !important;}
.med-gray{ color: @med-gray !important;}
.light-gray{ color: @light-gray !important;}

/* ========== Borders ========= */
.top-left-radius{ border-top-left-radius: 5px; }
.top-right-radius{ border-top-right-radius: 5px; }
.bottom-left-radius{ border-bottom-left-radius: 5px; }
.bottom-right-radius{ border-bottom-right-radius: 5px; }
.last-border{border-bottom:1px solid @med-gray !important;}
.no-border{border: none !important;}
.has-border{ border: 1px solid #c3c5c7; }
.top-border{border-top: 1px solid @med-light-gray !important;}
.dashed-bottom-border{border-bottom:1px dashed @med-light-gray !important;}

/* ========== Paddings ========= */
.no-padding{padding: 0px !important;}
.pad-top-10{padding-top: 10px;}
.pad-top-30{padding-top: 30px;}
.pad-top-60{padding-top: 60px;}
.pad-bottom-30{padding-bottom:30px;}
.pad-bottom-50{padding-bottom:50px;}
.no-bottom-padding{padding-bottom: 0px !important;}
.pad-top{padding-top:30px;}

/* ========== Margins ========= */
.no-left-margin{margin-left: 0px !important;}
.no-right-margin{margin-right: 0px !important;}
.no-bottom-margin{margin-bottom: 0px !important;}
.no-margin{margin: 0 !important;}

/* ========== Positions ========= */
.up-20{margin-top: -20px;}
.up-25{margin-top: -25px;}
.up-50{margin-top: -50px;}
.down-60{margin-top: 60px !important;}
.down-40{margin-top: 40px !important;}
.light-font{font-weight: 400 !important;}
.flt-right{float: right;}
.no-height{height:auto !important;max-height: none !important;}

.well{
	position: relative;
	height: auto;
	width: 100%;
	border-radius: 7px;
	padding: 15px;
}
/* ========== Buttons ========= */
.dark-blue-btn{
	background: @dark-blue;
	color:white;
	display: inline-block;
	padding: 7px 15px;
	border-radius: 7px;
	border: 1px solid @dark-blue;
	box-shadow: 0px 2px 0px #286cb0;
	transition: all .25s;
	font-size: 20px;
	&:hover{
		background: @light-blue;
		color: white;
		border: 1px solid @light-blue;
		cursor: pointer;
	}
}
.white-btn{
	background: white;
	color: @dark-blue;
	display: inline-block;
	padding: 7px 15px;
	border-radius: 7px;
	border:1px solid #85898c;
	box-shadow: 0px 2px 0px #c3c5c7;
	transition: all .25s;
	font-size: 20px;
	&:hover{
		background: @light-blue;
		color: white;
		border: 1px solid @light-blue;
		box-shadow: 0px 2px 0px #286cb0;
		cursor: pointer;
	}
}
.profile-btn{
	background: white;
	font-size: 18px;
	padding: 2px 10px;
	border: 1px solid @med-light-gray;
	border-bottom: 3px solid @med-light-gray;
	border-radius: 7px;
}

.file-list{
	list-style: none;
	padding: 0px;
	li{
		position: relative;
		display: block;
		line-height: 48px;
		font-size: 18px;
		font-weight: 700;
		color: @dark-blue;
		padding-left: 60px;
		border-bottom: 1px dashed @dark-gray;
		a{
			color: inherit;
		}
		&:before{
		  	font-family: "Font Awesome 5 Free";
		  	content: "\f1c1";
			font-weight: 400;
			position: absolute;
			left: 25px;
			top: 1px;
		}
		&:last-child{
			border-bottom: 0px;
		}
	}
}
.count{
	color: white;
	font-size: 16px;
	font-weight: 700;
	background: @red;
	position: relative;
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 30px;
	line-height: 22px;
	left: 5px;
	padding-top: 1px;
}
.responsive-table{
	position: relative;
	height: auto;
	width: 100%;
	overflow-x: scroll;
	table{
		font-size: 16px !important;
	}
	.table{
		min-width: 1150px;
	}
}
.pagination{
	.page-link{
		background: @light-gray;
		border: 1px solid @med-light-gray;
		border-bottom: 3px solid @med-light-gray;
		&:hover{
			background: white;
		}
		a{
			color: @dark-blue;
		}
	}
	.active{
		background: white !important;
	}
}
.bottom-shadow{
	border-bottom: 3px solid @med-light-gray;
}
.row{
	position: relative;
	max-width: 100%;
}
.hidden-xs{
	@media(max-width:767px){
		display: none;
	}
}
.hidden-sm{
	@media(min-width:768px) and (max-width:991px){
		display: none;
	}
}
.hidden-md{
	@media(min-width:992px) and (max-width:1199px){
		display: none;
	}
}
.hidden-lg{
	@media(min-width:1200px) and (max-width:1444px){
		display: none;
	}
}
.visible-md{
	display: none;
	@media(min-width:768px) and (max-width:991px){
		display: block;
	}
}
.not-visible{
	visibility: hidden;
}
.relative{
	position: relative;
}
.absolute-left{
	position: absolute;
	left: 0px;
}
.absolute-right{
	position: absolute;
	right: 0px;
}
.skip-to-content-container{
	position: absolute;
	height: auto;
	width: 40%;
	top: -30px;
	left: 0px;
	text-align: right;
	z-index: 99 !important;
	.skip-to-content{
		color: @dark-blue;
	}
}
.ui-datepicker{
	.ui-datepicker-year{
		margin: 0 auto !important;
	}
}
.compare-well{
	.dark-blue-btn{
		margin-right: 20px;
	}
}
.help-tip{
	position: absolute;
	height: auto;
	width: 200px;
	display: block;
	padding: 10px;
	border: 1px solid @med-light-gray;
	border-radius: 7px;
	background: @yellow;
	color: @dark-gray;
	font-size: 14px;
	z-index: 3;
	top: 40px;
	left: 165px;
	display: none;
	.tip-bg{
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0px;
		left: 0px;
		background-color: transparent;
		z-index: 1;
	}
}
.claim-modal-container{
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 5vh;
	background-color: transparent;
	z-index: 99999 !important;
	display: none;
	overflow: auto;
	.claim-modal{
		position: relative;
		top: 0px;
		width: 90%;
		height: auto;
		margin: 0 auto;
		background: @light-gray;
		z-index: 2;
		.modal-header{
			position: relative;
			height: auto;
			width: 100%;
			background: white;
			border-bottom: 1px solid @med-light-gray;
			box-shadow: 0px 0px 5px @med-light-gray;
			padding: 20px 20px 10px 20px;
			font-size: 22px;
			color: @dark-blue;
			font-family: @robotoCon;
			.close-window{
				float: left;
				display: inline-block;
				transition: color .25s;
				padding-top: 10px;
				&:hover{
					cursor: pointer;
					color: @light-blue;
				}
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					display: inline-block;
					margin-left: 10px;
					margin-right: 10px;
					font-size: 22px;
					font-family: @robotoCon;
					color: @dark-blue;
					transition: color .25s;
					&:hover{
						cursor: pointer;
						color: @light-blue;
					}
					&:last-child{
						margin-right: 0px;
					}
				}
				.close-modal{
					font-size: 36px;
					position: relative;
					right: 0px;
					top: 5px;
				}
			}
		}
		.modal-body{
			padding: 20px 40px;
			@media(min-width:768px) and (max-width:1199px){
				padding: 20px 15px;
			}
			h2{
				font-size: 36px;
				font-weight: 700;
			}
			.alternating-table{
				margin-top: 30px;
				border-top: 1px solid @med-light-gray;
				tr{
					background: white;
					&:last-child{
						border-bottom: 1px solid @med-light-gray;
					}
					&:nth-child(2n){
						background: #f6f7f7;
					}
				}
				th{
					border-right: 1px solid @med-light-gray;
					border-left:1px solid @med-light-gray;
					border-bottom: none;
					background: @peach;
					&:first-child{
						border-top-left-radius:10px;
					}
					&:last-child{
						border-top-right-radius:10px;
					}
				}
				.white-gray-table{
					border-right: 1px solid @med-light-gray;
					border-left: 1px solid @med-light-gray;
					border-radius: 5px !important;
					td{
						border-left: none !important;
						border-right: none !important;
					}
				}
				tbody{
					background-color: white;
					td{
						border-top: 1px dashed @med-light-gray;
						border-right: 1px solid @med-light-gray;
						border-left: 1px solid @med-light-gray;
					}
					.med-gray{
						font-family: @robotoCon;
					}
				}
				.table-footer{
					background: #ffe49b;
					border-top: 1px solid #fcaf17;
					border-bottom: 1px solid @med-light-gray;
					color: black;
					font-weight: 700;
				}
				.white-btn{
					padding: 1px 0px;
					font-size: 14px;
					font-weight: 700;
					width: 55px;
					text-align: center;
				}
			}
			.med-blue-bg{
				color: white;
				font-size: 22px;
				padding-left: 35px;
				padding-right: 35px;
			}
			.help-category{
				position: relative;
				display: inline-block;
				.custom-select{
					position: relative;
					display: inline-block;
					z-index: 1;
					width: 330px;
					font-size: 18px;
					color: @dark-blue;
					height: 40px;
				}
				label{
					color: @dark-blue;
					position: absolute;
					right: 0px;
					margin-top: 3px;
					z-index: 2;
					height:30px;
					width: 40px;
					padding: 0px 0px 5px 12px;
					background: white;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-left: 1px solid @med-light-gray;
				}
			}
		}
		.claim-modal-footer{
			position: relative;
			height: auto;
			padding: 20px 35px;
			width: 100%;
			background: white;
			border-top: 1px solid @med-light-gray;
			box-shadow: 0px 0px 5px @med-light-gray;
			&:after{
				position: relative;
				content: '';
				display: block;
				width: 100%;
				height: 50px;
			}
			ul{
				padding: 0px;
				list-style: none;
				float: right;
				li{
					display: inline-block;
					margin-left: 10px;
					margin-right: 10px;
					font-size: 22px;
					font-family: @robotoCon;
					color: @dark-blue;
					transition: color .25s;
					&:hover{
						cursor: pointer;
						color: @light-blue;
					}
					&:last-child{
						margin-right: 0px;
					}
				}
				.close-modal{
					font-size: 36px;
					position: relative;
					right: 0px;
					top: 5px;
				}
			}
		}
	}
	.modal-bg{
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		z-index: 1;
		background-color: rgba(0,0,0,0.7);
	}
}

.system-alert{
	position: relative;
	height: auto;
	width: 100%;
	background: #fff2b8;
	padding: 0px 65px 30px 40px;
	border-bottom: 1px solid @orange;
	.alert-title{
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 10px;
		padding-top: 30px;
		border-bottom: 5px solid @orange;
		.close-alert{
			position: relative;
			color: @light-blue;
			font-size: 24px;
			font-weight: 400;
			float: right;
			right: 15px;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.alert-body{
		font-size: 20px;
	}
}
/* ============= End Global Site Settings ============ */

/* ===================== Top Nav ====================== */
.top-nav-container{
	position: relative;
	width: 100%;
	height: 120px;
	background: white;
	z-index: 9;
	&:after{
		position: absolute;
		content: '';
		height: 0px;
		bottom: -3px;
		left: 0px;
		width: 100%;
		box-shadow: 0px 0px 3px 1px #000000;
		z-index: 8;
	}
	.img-fluid{margin-top: 15px;}
	.auxiant-logo{
		@media(max-width:991px){
			max-width:200px;
		}
		@media(min-width:992px) and (max-width:1199px){
			max-width: 250px;
		}
	}
	.staff-nav-container{
		position: absolute;
		bottom: -46px;
		left: 400px;
		display: inline-block;
		z-index: 9;
		@media(min-width:992px) and (max-width:1199px){
			left: 300px;
			bottom: -60px;
		}
		@media(min-width:768px) and (max-width:991px){
			left: 45px;
			bottom: -72px;
		}
		.staff-main-nav{
			position: relative;
			bottom: 0px;
			left: 0px;
			padding: 0px;
			list-style: none;
			color: @dark-blue;
			font-size: 16px;
			@media(min-width:768px) and (max-width: 991px){
				font-size: 14px;
				left: -23px;
			}
			a{
				color: @dark-blue;
			}
			li{
				position: relative;
				text-align: center;
				display: inline-block;
				height: auto;
				width: auto;
				padding: 5px 10px;
				background: linear-gradient(white, #e5e5e5);
				border-top: 1px solid @med-light-gray;
				border-left: 1px solid @med-light-gray;
				margin-left: -5px;
				&:last-child{
					border-right: 3px solid @med-light-gray;
				}
				&:hover{
					.staff-sub-nav{
						display: block;
					}
				}
				.staff-sub-nav{
					position: absolute;
					width: 300px;
					height: auto;
					padding: 0px 15px;
					top: 45px;
					left: -11px;
					display: none;
					@media(min-width:768px) and (max-width:991px){
						width: 275px;
					}
					ul{
						padding: 0px;
						list-style: none;
						li{
							display: block;
							background: white;
							text-align: left;
							font-size: 16px;
							border-bottom: 0px;
							border-right: 1px solid @med-light-gray;
							padding: 1px 10px;
							@media(min-width:768px) and (max-width:991px){
								font-size: 14px;
							}
							&:last-child{
								border-bottom: 1px solid @med-light-gray;
							}
							.fas{
								position: relative;
								float: right;
								top: 7px;
								font-size: 20px;
							}
							&:hover{
								.second-tier{
									display: block;
								}
							}
							.second-tier{
								position: absolute;
								height: auto;
								width: 250px;
								left: 278px;
								top: -1px;
								display: none;
								@media(min-width:768px) and (max-width:991px){
									left: 253px;
								}
								ul{
									li{
										padding-left: 20px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.right-nav{
		padding-right: 0px;
		.site-version{
			position: absolute;
			right: 0px;
			top: 20px;
			font-size: 14px;
			color: @med-gray;
		}
		.right-head-nav{
			position: relative;
			top: 60%;
			padding: 0px;
			list-style: none;
			li{
				position: relative;
				width: auto;
				height: auto;
				display: inline-block;
				font-size: 18px;
				margin-right: 10px;
				@media(min-width:768px) and (max-width:991px){
					font-size: 14px;
					margin-top: 10px;
				}
				@media(min-width:992px) and (max-width:1199px){
					font-size: 14px;
					margin-top: 10px;
				}
				a{
					color: @dark-blue;
					text-decoration: none;
					transition: color .25s;
					&:hover{
						color: @light-blue;
					}
				}
				.far{
					margin-right: 7px;
				}
			}
			.profile-btn{
				position: relative;
				color: @dark-blue;
				width: 290px;
				margin-right: 0px;
				&:after{
					content: '';
					position: absolute;
					height: 100%;
					width: 1px;
					background: @med-gray;
					right: 35px;
					top: 0px;
				}
				.fa-user{
					color: @med-light-gray;
					margin-right: 20px;
				}
				.fa-bell{
					position: relative;
					font-size: 20px;
					color: #78797a;
					margin-left: 20px;
				}
				.fa-angle-down{
					position: relative;
					margin-left: 30px;
					color: @dark-blue;
					font-size: 22px;
					top: 2px;
				}
				.count{
					position: absolute;
					font-size: 11px;
					height: 18px;
					width: 18px;
					text-align: center;
					float: right;
					right: 50px;
					left: auto;
					padding-top: 0px;
					line-height: 18px;
				}
				.head-sub-nav{
					position: absolute;
					height: auto;
					width: 100.7%;
					background: white;
					top: 37px;
					left: -1px;
					border: 1px solid @med-gray;
					text-align: left;
					z-index: 9;
					padding: 10px 0px;
					display: none;
					ul{
						padding: 0px;
						list-style: none;
						width: 100%;
						li{
							position: relative;
							width: 100%;
							display: block;
							border-bottom: 1px solid @med-gray;
							padding: 5px 0px 5px 10px;
							&:last-child{
								border-bottom: none;
								padding: 5px 0px 5px 10px;
							}
						}
						.icon{
							color: @med-light-gray;
							margin-right: 7px;
						}
						a{ color: @dark-blue;}
					}
					.count{
						position: absolute;
						top: 10px;
						right: 10px;
						height: 25px;
						width: auto;
						text-align: center;
						padding: 3px 8px 0px 8px;
						font-size: 13px;
					}
				}
			}
		}
	}
	.staff-right-nav{
		position: absolute;
		right: 30px;
		width: 700px;
		.site-version{
			position: absolute;
			right: 275px;
			top: 35px;
			font-size: 14px;
			color: @med-gray;
			@media(min-width:768px) and (max-width:991px){
				right: 0px;
				top: 10px;
			}
			@media(min-width:992px) and (max-width:1199px){
				top: 25px;
			}
		}
		.right-head-nav{
			position: relative;
			top: 60%;
			padding: 0px;
			list-style: none;
			.profile-btn{
				position: relative;
				color: @dark-blue;
				width: auto;
				display: inline-block;
				float: right;
				margin-top: 25px;
				@media(min-width:768px) and (max-width:991px){
					margin-top: 35px;
				}
				@media(min-width:992px) and (max-width:1199px){
					margin-top: 15px;
				}
				&:after{
					content: '';
					position: absolute;
					height: 100%;
					width: 1px;
					background: @med-gray;
					right: 35px;
					top: 0px;
				}
				.fa-user{
					color: @med-light-gray;
				}
				.fa-bell{
					position: relative;
					font-size: 20px;
					color: #78797a;
				}
				.fa-angle-down{
					position: relative;
					margin-left: 30px;
					color: @dark-blue;
					font-size: 22px;
					top: 2px;
				}
				.count{
					position: absolute;
					font-size: 11px;
					height: 18px;
					width: 18px;
					text-align: center;
					float: right;
					right: 50px;
					left: auto;
					padding-top: 0px;
					line-height: 18px;
				}
				.head-sub-nav{
					position: absolute;
					height: auto;
					width: 100.7%;
					background: white;
					top: 37px;
					left: -1px;
					border: 1px solid @med-gray;
					text-align: left;
					z-index: 9;
					padding: 10px 0px;
					display: none;
					ul{
						padding: 0px;
						list-style: none;
						width: 100%;
						li{
							position: relative;
							width: 100%;
							display: block;
							border-bottom: 1px solid @med-gray;
							padding: 5px 0px 5px 10px;
							&:last-child{
								border-bottom: none;
								padding: 5px 0px 5px 10px;
							}
						}
						.icon{
							color: @med-light-gray;
							margin-right: 7px;
						}
						a{ color: @dark-blue;}
					}
					.count{
						position: absolute;
						top: 10px;
						right: 10px;
						height: 25px;
						width: auto;
						text-align: center;
						padding: 3px 8px 0px 8px;
						font-size: 13px;
					}
				}
			}
		}
	}
}
/* =====================End Top Nav ===================== */

/* ===================== Main Body =====================*/
.main-body-container{
	padding-left: 0px !important;
	padding-right: 0px !important;
	position: relative;
	height: 100%;
	width: auto;
	display: table;
	z-index: 2;
/* ========= Left Nav ========== */
	.left-nav-col{
		position: relative;
		height: 100%;
		width: 300px;
		min-width: 300px;
		background: @dark-gray;
		z-index: 2;
		color: white;
		padding-left: 0px;
		padding-right: 0px;
		left: 0px;
		top: 0px;
		display: table-cell;
		@media(max-width:991px){
			width: 50px;
			min-width: 50px;
		}
		.primary-links{
			position: absolute;
			top: 0px;
			width: 100%;
			@media(max-width:991px){
				display: none;
			}
		}
		.left-col-toggle{
			position: relative;
			height: 50px;
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 12px;
			background: @dark-blue;
			font-size: 16px;
			border-bottom:1px solid #004281;
			.fas{
				color: @light-blue;
				font-size: 20px;
				position: relative;
				top: 1px;
				margin-right: 7px;
			}
			.fa-angle-left{
				font-size: 22px;
				color: @light-blue;
				float: right;
			}
		}
		.left-col-search{
			height: 50px;
			width: 100%;
			background: @light-blue;
			.left-search{
				position: relative;
				width: 85%;
				height: auto;
				margin: 0 auto;
				label{
					position: absolute;
					z-index: 2;
					left: 10px;
					top: 8px;
					color: @light-blue;
					font-size: 20px;
				}
				.search{
					position: relative;
					width: 100%;
					height: 35px;
					border-radius: 20px;
					border: none;
					box-shadow: inset 0px 0px 3px #000;
					margin-top: 7px;
					padding-left: 35px;
					padding-right: 7px;
				}
			}
		}
		.left-col-links{
			a{
				font-family: @roboto;
				font-size: 18px;
				color: white;
				text-decoration: none;
			}
			.full-nav{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					height: auto;
					padding: 7px 20px;
					border-bottom: 1px solid #38393b;
					box-shadow: 0px 1px 0px #686b6e;
					z-index: 3;
					color: white;
					@media(min-width:768px) and (max-width:924px){
						height: auto;
					}
					.left-sub-nav{
						position: relative;
						width: 300px;
						left: 0px;
						top: 10px;
						display: none;
						ul{
							padding: 0px;
							list-style: none;
							position: relative;
							height: auto;
							width: 100%;
							top: 0px;
							left: -20px;
							background: @med-gray;
							li{
								position: relative;
								display: block;
							}
						}
					}
					.fas{
						position: relative;
						float: right;
						right: 10px;
						top: 10px;
						z-index: 2;
					}
				}
				.active{
					background: #000;
					position: relative;
					border-bottom: 1px solid #686b6e;
					z-index: 2;
					&:after{
						content: url(img/active.png);
						height: 25px;
						position: absolute;
						top: 0px;
						right: -12px;
						z-index: 1;
					}
				}
			}
			.icon-nav{
				list-style: none;
				padding: 0px;
				.show-full-nav{
					background: @dark-blue;
					height: 50px;
					padding-left: 13px;
					padding-top: 8px;
					color: white;
					font-size: 26px;
				}
				.search-btn{
					background: @light-blue;
					height: 50px;
					padding-left: 13px;
					padding-top: 8px;
					color: white;
					font-size: 20px;
				}
			}
		}
		.left-col-chat{
			position: relative;
			height: 90px;
			width: 85%;
			margin: 30px auto 0px auto;
			background: @dark-blue;
			color: white;
			border-radius: 5px;
			box-shadow: 0px 1px 2px #000;
			padding: 13px 20px;
			transition: all .25s;
			@media(min-width:768px) and (max-width:924px){
				height: auto;
			}
			&:hover{
				cursor: pointer;
				box-shadow: 0px 3px 3px #000;
			}
			img{
				margin-right: 10px;
			}
		}
		p{
			font-size: 18px;
			font-family: @robotoCon;
			text-align: center;
			color: white;
			padding-top: 5px;
			@media(min-width:768px) and (max-width:924px){
				line-height: 22px;
				font-size: 16px;
			}
		}
		.minimized-links{
			position: absolute;
			top: 0px;
			width: 100%;
			display: none;
			@media(max-width:991px){
				display: block;
			}
			.icon-link{
				color: white;
				text-align: center;
				font-size: 20px;
				padding: 7px 0px;
				border-bottom: 1px solid #38393b;
				box-shadow: 0px 1px 0px #686b6e;
				&:hover{
					background: @copy-gray;
				}
			}
		}
		.mini-search-container{
			position: absolute;
			width: 300px;
			margin-left: 50px;
			margin-top: 20px;
			display: none;
		}
		.staff-mini-search-container{
			position: absolute;
			width: 300px;
			margin-left: 50px;
			margin-top: -3px;
			display: none;
		}
	}
/* ========= End Left Nav ========== */
	/* ========= Main Content ========== */
	.main-content{
		position: relative;
		width: auto;
		height: 100%;
		display: table-cell;
		.page-head{
			width: 100%;
			display: block;
			height: auto;
			//padding-top: 15px;
			padding-bottom: 20px;
			position: relative;
			padding-left: 40px;
			background: url(img/title-bg.jpg) no-repeat;
			background-size: cover;
			background-position: right;
			color: white;
			.breadcrumb{
				background-color: transparent;
				color: white;
				margin-bottom: .75rem;
				padding-left: 0px;
				a{
					color: white;
					&:after{
						content:'/';
						font-size: 16px;
						color: black;
						position: relative;
						margin-left: 7px;
						margin-right: 7px;
						text-decoration: none;
					}
					&:last-child{
						&:after{
							content: '';
							position: absolute;
						}
					}
				}
			}
			.page-title{
				font-family: @roboto;
				font-weight: 100;
				font-size: 64px;
				line-height: 64px;
				letter-spacing: -.025em;
				@media(min-width:768px) and (max-width:1449px){
					font-size: 40px;
					line-height: 40px;
					padding-top: 10px;
				}
				@media(min-width:768px) and (max-width:1050px){
					margin-top: 40px;
				}
			}
			.member-name{
				position: relative;
				line-height: 10px;
				margin-top: -10px;
				padding-bottom: 20px;
				@media(min-width:768px) and (max-width:1050px){
					line-height: 40px;
					margin-top: -40px;
					padding-bottom: 0px;
				}
			}
			.head-logo{
				position: absolute;
				right: 0px;
				top: 0px;
				height: 100%;
				padding-right: 50px;
				@media(min-width:768px) and (max-width:1199px){
					width: 30%;
				}
				.logo{
					.gradient-container{
						position: absolute;
						left: -250px;
						height: 100%;
						width: 250px;
						background: linear-gradient(to right, transparent, white);
						@media(min-width:768px) and (max-width:991px){
							width: 100px;
							left: -100px;
						}
					}
					position: absolute;
					height: 100%;
					width: 260px;
					background: white;
					right: 0px;
					padding-right: 65px;
					@media(min-width:768px) and (max-width:991px){
						width: 220px;
					}
					img{
						position: relative;
						width: 100%;
						height: auto;
						display: block;
						right: 0px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
		.light-blue-bg{
			padding: 30px 40px;
			p{
				font-size: 24px;
				line-height: 24px;
			}
			label{
				position: absolute;
				top: 7px;
				left: 25px;
				z-index: 2;
				color: @light-blue;
				font-size: 24px;
			}
			.search{
				position: relative;
				width: 100%;
				height: 35px;
				border-radius: 20px;
				border: none;
				box-shadow: inset 0px 0px 3px #000;
				margin-top: 7px;
				padding-left: 40px;
				padding-right: 7px;
				z-index: 1;
				font-size: 20px;
			}
		}
		.map-container{
			position: relative;
			height: auto;
			width: 100%;
			padding:30px 0px 30px 0px;
			#map{
				position: relative;
				height: 300px;
				width: 100%;
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					display: inline-block;
					margin-right: 15px;
				}
			}
		}
		.body-content{
			position:relative;
			padding-top: 25px;
			.white-bg, .gray-bg{
				position: relative;
				padding-left: 30px;
				padding-right: 30px;
			}
			.white-bg{
				padding-bottom: 15px;
			}
			.gray-bg{
				padding-top: 35px;
				padding-bottom: 80px;
				padding-right: 30px;
				h3{
					color: @copy-gray;
				}
			}
			.section-head{
				padding-bottom: 10px;
				border-bottom: 1px solid @dark-gray;
			}
			.section-body{
				font-size: 18px;
				a{
					color:@dark-blue;
					&:visited{
						color: @light-blue;
					}
				}
				ul{
					padding: 0px;
					list-style: none;
					li{
						border-bottom: 1px dashed @med-light-gray;
						padding: 10px 0px;
						line-height: 18px;
						&:last-child{
							border-bottom: none;
						}
					}
				}
				.faq{
					li{
						position: relative;
						padding-left: 25px;
						&:before{
							content: 'Q:';
							position: absolute;
							left: 0px;
							top: 6px;
							font-weight: 700;
						}
					}
				}
			}
			.info-card{
				position: relative;
				border-top: 1px solid @med-light-gray;
				border-left: 1px solid @med-light-gray;
				border-right: 1px solid @med-light-gray;
				border-bottom: 3px solid @med-light-gray;
				border-radius: 7px;
				background: white;
				margin-bottom: 25px;
				.card-title{
					font-size: 22px;
					color: @dark-blue;
					font-weight: 400;
					padding: 15px 20px;
					background: linear-gradient(white, #e5e5e5);
					margin: 0px;
					border-top-left-radius: 7px;
					border-top-right-radius: 7px;
					@media(min-width: 1348px) and (max-width: 1503px){
						font-size: 18px;
					}
					@media(min-width: 1265px) and (max-width: 1347px){
						font-size: 18px;
						padding: 10px;
					}
					@media(min-width: 992px) and (max-width: 1264px){
						font-size: 16px;
						padding: 10px;
					}
					.count{
						padding-left: 7px;
						padding-right: 7px;
						padding-top: 1px;
						width: auto;
						text-align: center;
						@media(min-width:1200px) and (max-width:1291px){
							font-size: 11px;
						}
						@media(min-width:1292px) and (max-width:1351px){
							font-size: 12px;
						}
					}
				}
				.card-body{
					font-family: @robotoCon;
					font-size: 20px;
					color: #77797a;
					@media(min-width:1200px) and (max-width:1468px){
						padding: 15px 10px;
					}
					.card-buttons{
						position: relative;
						margin-top: 15px;
						text-align: center;
						.dark-blue-btn{
							display: inline-block;
							font-size: 18px;
							@media(min-width:1589px) and (max-width:1692px){
								font-size: 16px;
							}
							@media(min-width:1400px) and (max-width:1588px){
								font-size: 16px;
								padding: 7px 10px;
							}
							@media(min-width:768px) and (max-width:1408px){
								position: relative;
								width: 100%;
								display: block;
							}
						}
						.white-btn{
							display: inline-block;
							font-size: 18px;
							@media(min-width:1589px) and (max-width:1692px){
								font-size: 16px;
							}
							@media(min-width:1400px) and (max-width:1588px){
								font-size: 16px;
								padding: 7px 5px;
							}
							@media(min-width:768px) and (max-width:1408px){
								position: relative;
								width: 100%;
								display: block;
								margin-top: 15px;
							}
						}
					}
				}
				.card-table{
					font-family: @robotoCon;
					font-size: 18px;
					color: #77797a;
					width: auto;
					height: 280px;
					overflow-y: scroll;
					position: relative;
					width: 100%;
					a{
						color: #77797a;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
						&:visited{
							color: @light-blue;
						}
					}
					td{
						padding: 5px;
					}
					.fas{
						color: @dark-blue;
						font-size: 22px;
					}
					.absolute-left{
						left: 10px;
					}
					.absolute-right{
						
					}
					.staff-event{
						padding: 10px !important;
						img{
							position: absolute;
							left: 25%;
							top: 13px;
							border-right: 1px solid @med-light-gray;
							padding-right: 10px;
							@media(min-width:1200px) and (max-width:1429px){
								left: 21%;
							}
							@media(min-width:768px) and (max-width:1199px){
								left: 37%;
							}
						}
						.nav-container{
							position: absolute;
							width: 80%;
							height: auto;
							left: 50%;
							transform: translateX(-50%);
							top: 14px;
							@media(min-width:1200px) and (max-width:1274px){
								width: 85%;
							}
							@media(min-width:768px) and (max-width:1199px){
								width: 40%;
							}
						}
					}
					.date-showing{
						position: relative;
						border: none;
						background-color: transparent;
						text-align: center;
						font-size: inherit;
						font-weight: 700;
						color: black;
						width: 175px;
						display: inline-block;
						left: 55%;
						transform: translateX(-50%);
						@media(min-width:1429px) and (max-width:1531px){
							left: 57%;
						}
						@media(min-width: 1200px) and (max-width:1274px){
							left: 59%;
						}
						@media(min-width:1200px) and (max-width:1531px){
							top: 5px;
						}
						@media(min-width:768px) and (max-width:1199px){
							left: 53%;
							top: 3px;
						}
					}
					.alternating-table{
						margin-top: 0px;
						margin-bottom: 0px;
						th{
							padding: 10px 5px;
						}
						.no-border{
							td{
								border: none !important;
							}
						}
						a{
							font-weight: inherit;
						}
						.white-btn{
							font-size: 20px;
							padding: 1px 3px;
						}
						.map-table{
							td{
								vertical-align: middle;
							}
						}
						.marker-container{
							position: relative;
							.marker{
								position: relative;
								font-size: 38px;
								margin-top: 12px;
							}
							.marker-id{
								position: absolute;
								color: white;
								font-size: 20px;
								top: 25%;
								left: 40%;
							}
						}
					}
					.claim-table{
						a{
							color: @dark-blue;
							&:visited{
								color: @light-blue;
							}
						}
					}
					.bolded-tb{
						td{
							padding-top: 10px;
							padding-left: 15px;
						}
						p{
							line-height: 18px;
							margin-bottom: 10px;
						}
						.title{
							font-weight: 700;
							color: black;
						}
						.details{
							color: #77797a;
							font-weight: 400;
							margin-top: -10px;
						}
					}
					.head-border{
						th{
							border-left: 1px solid @med-light-gray;
							border-right: 1px solid @med-light-gray;
						}
					}
				}
				.card-bottom{
					background: #dceaf7;
					color: @dark-blue;
					padding: 20px;
					border-bottom-left-radius: 7px;
					border-bottom-right-radius: 7px;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					.fas{
						position: relative;
						font-size: 18px;
						left: 7px;
						top: 2px;
					}
					a{
						color: inherit;
						text-decoration: none;
						transition: color .25s;
						&:hover{
							color: @dark-gray;
							text-decoration: underline;
						}
					}
				}
				.blue-card{
					background: #dceaf7;
					width: auto;
					height: 342px;
					overflow-y: scroll;
					position: relative;
					width: 100%;
					.row{
						padding: 0px;
						margin: 0px;
						left: 0px;
						top: 0px;
						.col-md-6{
							padding: 0px;
							margin: 0px;
						}
					}
					ul{
						padding: 0px;
						list-style: none;
						li{
							height: auto;
							width: 100%;
							border-bottom: 1px dashed @med-light-gray;
							padding-left: 15px;
							&:last-child{
								border-bottom:none;
							}
						}
					}
					a{
						color: @dark-blue;
						font-size: 16px;
						&:visited{
							color: @light-blue;
						}
					}
				}
			}
			.trans-card{
				.card-title{
					font-size: 24px;
					color: @dark-blue;
					font-weight: 400;
					padding: 20px;
					background: linear-gradient(white, #e5e5e5);
					margin: 0px;
					border-top-left-radius: 7px;
					border-top-right-radius: 7px;
					@media(min-width: 1348px) and (max-width: 1503px){
						font-size: 20px;
					}
					@media(min-width: 1225px) and (max-width: 1347px){
						font-size: 18px;
						padding: 10px;
					}
					@media(min-width: 992px) and (max-width: 1224px){
						font-size: 16px;
						padding: 10px;
					}
				}
				.card-body{
					font-family: @robotoCon;
					.dark-blue-btn{
						padding: 5px 20px;
						font-size: 20px;
					}
				}
			}
			.section{
				padding-top: 60px;
				padding-bottom: 60px;
				.disclaimer{
					font-size: 16px;
					line-height: 24px;
					padding-top: 30px;
				}
			}
			h3{font-weight: 700;}
			h4{color: @copy-gray;}
			.button-cluster{
				margin-top: 20px;
			}
			.inner-white-bg, .light-gray-bg{
				padding: 10px;
				border-bottom: 1px dashed #c3c5c7;
				label{
					padding-top: 10px;
				}
				#datepicker{
					padding-left: 50px;
				}
				.ui-datepicker-trigger{
					position: absolute;
					top: 6px;
					left: 10px;
					border-right: 1px solid @med-gray;
					padding-right: 7px;
				}
			}
			.alternating-form{
				padding-top: 15px;
				position: relative;
				.row{
					border-left: 1px solid #c3c5c7;
					border-right: 1px solid #c3c5c7;
					margin: 0px;
					&:first-child{
						border-top: 1px solid #c3c5c7;
					}
				}
			}
			.subscriber-address{
				padding-top: 35px;
				.toggle-group{
					label{
						float: left;
						padding-left: 0px;
						width: 100%;
						padding-top: 5px;
					}
					.onoffswitch{
						float: left;
						left: 275px;
						top: 2px;
					}
				}
			}
			.subscriber-contact{
				padding-top: 35px;
				.toggle-group{
					label{
						float: left;
						padding-left: 0px;
						width: 100%;
						padding-top: 5px;
					}
					.onoffswitch{
						float: left;
						left: 300px;
						top: 2px;
					}
				}
			}
			.btn-container{
				position: relative;
				color: white;
				background: @med-gray;
				margin-top: 40px;
				padding: 20px;
				width: 100%;
				border-radius: 5px;
				a{
					color: inherit;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				.fas{
					margin-right: 7px;
				}
				.btns{
					position: absolute;
					width: auto;
					min-width: 500px;
					display: inline-block; 
					margin: 0 auto;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;
					.white-btn{
						margin-left: 20px;
					}
					.dark-blue-btn, .white-btn{
						.fas{
							margin-left: 7px; 
							margin-right: 0px;
						}
						@media(min-width:992px) and (max-width:1030px){
							font-size: 16px;
						}
					}
				}
			}
			.link-cluster{
				margin-top: -15px;
				padding-bottom: 15px;
				a{
					color: @dark-blue;
				}
			}
			.dark-blue-btn{
				font-weight: 400;
				.far{
					margin-right: 7px;
				}
			}
			.alternating-table{
				margin-top: 30px;
				border-top: 1px solid @med-light-gray;
				tr{
					background: white;
					&:last-child{
						border-bottom: 1px solid @med-light-gray;
					}
					&:nth-child(2n){
						background: #f6f7f7;
					}
				}
				th{
					border-right: 1px solid @med-light-gray;
					border-left:1px solid @med-light-gray;
					border-bottom: none;
					background: @peach;
					&:first-child{
						border-top-left-radius:10px;
					}
					&:last-child{
						border-top-right-radius:10px;
					}
				}
				tbody{
					background-color: white;
					td{
						border-top: 1px dashed @med-light-gray;
						border-right: 1px solid @med-light-gray;
						border-left: 1px solid @med-light-gray;
					}
				}
				a{
					color: @dark-blue;
					font-weight: 700;
					&:visited{
						color: @light-blue;
					}
				}
				.sort-up{
					position: relative;
					float: right;
					right: 5px;
					top: 0px;
					color: @med-light-gray;
					&:hover{
						cursor: pointer;
					}
				}
				.sort-down{
					position: relative;
					float: right;
					right: -5px;
					margin-top: 8px;
					color: @med-light-gray;
					@media(min-width:1705px){
						right: -7px;
					}
					@media(min-width:1200px) and (max-width:1531px){
						right: -4px;
					}
					@media(min-width:768px) and (max-width:1199px){
						right: -4px;
					}
					&:hover{
						cursor: pointer;
					}
				}
				.active{
					color: @red;
				}
				.toggle-group{
					display: inline-block;
					label{
						position: relative;
						font-weight: 700;
						color: @dark-blue;
						padding-left: 75px;
						width: 160px;
						@media(min-width:768px) and (max-width:1367px){
							width: 150px;
						}
					}
					.onoffswitch{
						position: absolute;
						top: 0px;
						left: 0px;
						width: 65px;
						.onoffswitch-label{
							width: 65px;
						}
						.onoffswitch-inner{
							&:before, &:after{
								font-size:14px !important;
							}
							&:after{
								padding-right: 10px;
								box-shadow: inset 2px 2px 10px 5px #ccc;
							}
						}
					}
				}
				.white-btn{
					padding: 1px 0px;
					font-size: 14px;
					font-weight: 700;
					width: 55px;
					text-align: center;
					box-shadow: inset 0px 0px 1px #000;
				}
				.help-tip{
					position: absolute;
					height: auto;
					width: 150px;
					display: block;
					padding: 10px;
					border: 1px solid @med-light-gray;
					border-radius: 7px;
					background: @yellow;
					color: @dark-gray;
					font-size: 14px;
					z-index: 3;
					top: 40px;
					left: 165px;
					display: none;
					.tip-bg{
						position: fixed;
						height: 100vh;
						width: 100vw;
						top: 0px;
						left: 0px;
						background-color: transparent;
						z-index: 1;
					}
				}
			}
			.form{
				position: relative;
				width: 100%;
				height: auto;
				left: 0px;
				.search-claims{
					label{
						position: absolute;
						z-index: 2;
						left: 25px;
						top: 12px;
						color: @light-blue;
						font-size: 20px;
					}
					.search{
						position: relative;
						width: 100%;
						height: 40px;
						border-radius: 20px;
						border: none;
						box-shadow: inset 0px 0px 3px #000;
						margin-top: 7px;
						padding-left: 35px;
						padding-right: 7px;
					}
					.form-control{
						position: relative;
						padding-left: 50px;
						margin-top: 7px;
					}
					.ui-datepicker-trigger{
						position: absolute;
						top: 12px;
						left: 25px;
						padding-right: 5px;
						border-right: 1px solid @med-light-gray;
					}
				}
				.show-on-start{
					display: none;
				}
				.select-date{
					position: relative;
					top: 6px;
					height: 45px;
					width: 300px;
					.start-form{
						position: absolute;
						left: 0px;
						width: 50%;
						.start-date{
							background-color: transparent;
							color: @dark-blue;
							width: 100%;
							padding-left: 10px;
						}
					}
					.end-form{
						position: absolute;
						right: 0px;
						width: 50%;
						.end-date{
							background-color: transparent;
							color: @dark-blue;
							width: 100%;
						}
					}
					&:hover{
						.selected-date{
							color: white;
						}
					}
					&:after{
						position: absolute;
						height: 45px;
						width: 10px;
						background: @dark-gray;
						right: 30px;
						top: 0px;
					}
					.fas{
						position: absolute;
						right: 12px;
						top: 13px;
					}
					.right-btn-border{
						position: absolute;
						height: 100%;
						width: 1px;
						top: 0px;
						right: 40px;
						background: @med-light-gray;
					}
				}
			}
		}
	}
	/* ========= End Main Content ========== */
	/* ========= Comparison Page Adjustments ========== */
	.comparison{
		.light-blue-bg{
			padding: 25px 40px;
			.back-link{
				font-size: 22px;
				font-family: @robotoCon;
				font-weight: 400;
				color: @dark-blue;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.dark-blue-bg{
			padding: 25px 40px;
			a{
				color: white;
				font-size: 18px;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			ul{
				padding: 0px;
				margin: 0px;
				list-style: none;
				display: inline-block;
				position: relative;
				li{
					display: inline-block;
					position: relative;
					padding-right: 25px;
					margin: 0px;
					padding-bottom: 0px;
					&:after{
						content:'';
						height: 100%;
						width: 1px;
						background: @light-blue;
						position: absolute;
						top: 0px;
						right: 0px;
					}
					&:last-child{
						padding-left: 25px;
						padding-right: 25px;
						&:after{
							content: '';
							height: 0px;
							width: 0px;
						}
					}
				}
			}
		}
		.body-content{
			padding-top: 0px;
			.line-graph{
				margin-left: 40px;
				margin-top: 75px;
				padding-right: 70px;
				@media(min-width:768px) and (max-width:1199px){
					width: 100%;
					margin: 75px 0px 75px 10px;
					display: block;
					font-size: 12px;
				}
			}
			.stats{
				position: relative;
				display: block;
				width: 100%;
				.stat-table{
					border-bottom: 1px solid @med-gray;
					@media(min-width:768px) and (max-width:991px){
						width: 100%;
						font-size: 16px;
					}
					tr{
						td{
							border-top: 1px solid @med-gray;
						}
					}
				}
			}
			.top-info-table{
				border-top: 1px solid @med-light-gray;
				border-bottom: 1px dashed @med-light-gray;
				margin-bottom: 1px;
				font-family: @roboto;
				@media(max-width:991px){
					font-size: 14px;
				}
				.light-blue{
					background: @sky-blue;
					color: @dark-gray !important;
					font-weight: 700;
					text-align: center;
					width: 60%;
					@media(max-width:991px){
						width: 50%;
					}
				}
				.green{
					background: @dark-green;
					color: white;
					font-weight: 700;
					width: 20%;
					@media(max-width:991px){
						width: 25%;
					}
				}
				td{
					border-left: 1px solid @med-light-gray;
					border-right: 1px solid @med-light-gray;
					&:first-child{
						border-left: none;
					}
					&:last-child{
						border-right: none;
					}
				}
			}
			.lower-info-table{
				border-bottom: 1px solid @med-light-gray;
				thead{
					font-family: @robotoCon;
					font-size: 20px;
					background: @peach;
					text-align: center;
					font-weight: 400 !important;
					@media(max-width:1200px){
						font-size: 14px;	
					}
					th{
						font-weight: 400 !important;
						font-size: 18px;
						line-height: 20px;
						border-right: 1px solid @med-light-gray;
						padding: 10px 0px !important;
						vertical-align: top;
						&:first-child{
							border-left: 1px solid @med-light-gray;
						}
					}
				}
				tbody{
					text-align: center;
					font-size: 36px;
					font-weight: 700;
					border-left: 1px solid @med-light-gray;
					background: white;
					@media(max-width:1200px){
						font-size: 20px;
					}
					td{
						border-right: 1px solid @med-light-gray;
						border-top: 1px dashed @med-light-gray;
					}
					.criteria{
						font-family: @robotoCon;
						font-size: 20px;
						font-weight: 700;
						@media(max-width:1200px){
							font-size: 16px;
						}
					}
					.preferred{
						position: relative;
						display: block;
						width: 175px;
						margin: 0 auto;
						@media(max-width:1200px){
							width: 100px;
						}
					}
					.thumb-rate{
						height: auto;
						width: 60px;
					}
				}
			}
			.provider-search{
				position: relative;
				.search-field{
					position: relative;
					width: 100%;
					height: 35px;
					border-radius: 20px;
					border: none;
					box-shadow: inset 0px 0px 3px #000;
					padding-left: 35px;
					padding-right: 7px;
					@media(max-width:1199px){
						margin-top: 15px;
						height: 35px;
					}
				}
				.search-label{
					position: absolute;
					z-index: 2;
					left: 23px;
					top: 3px;
					color: @light-blue;
					font-size: 20px;
					@media(max-width:1199px){
						top: 17px;
					}
				}
			}
		}
	}
}

/* ===================== End Main Body ===================== */

/* ===================== Footer Settings ===================== */
.footer-container{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 3;
	padding: 0px !important;
	/* ======== Top Section ======== */
	.top-section{
		position: relative;
		width: 100%;
		height: auto;
		padding: 15px;
		background:@light-blue;
		text-align: center;
		a{
			color: inherit;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		ul{
			padding: 0px;
			margin: 0px;
			list-style: none;
			color: white;
			li{
				display: inline-block;
				margin-left: 15px;
				margin-right: 15px;
			}
		}
	}
	/* ======== End Top Section ======== */
	/* ======== Bottom Section ======== */
	.bottom-section{
		position: relative;
		width: 100%;
		height: auto;
		padding: 15px;
		background:@dark-gray;
		text-align: center;
		color: white;
		p{
			color: white;
			padding: 0px;
			margin: 0px;
			font-size: 14px;
			font-weight: 400;
		}
	}
	/* ======== End Bottom Section ======== */
}
/* ===================== End Footer Settings ===================== */

/* ===================== Element Settings ===================== */
/* ============ Line-Graph ============ */
.line-graph{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	font-size: 16px;
	line-height: 16px;
	font-family: @robotoCon;
	color: @copy-gray;
	.center-line{
		position: relative;
		height: 2px;
		width: 100%;
		background: @med-gray;
		top: 50%;
		transform: translateY(-50%);
	}
	.vert-6{
		position: relative;
		display: block;
		border-left: 1px solid @med-gray;
		width: 16.667%;
		height: 30px;
		float: left;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		.above-center-left{
			position: absolute;
			top: -40px;
			left: -22px;
			display: inline-block;
			text-align: center;
			.above-line{
				position: relative;
				margin-top: -15px;
				margin-left: -3px;
			}
		}
		.below-center-left{
			position: absolute;
			bottom: -30px;
			left: -40px;
			display: inline-block;
		}
		.above-center-right{
			position: absolute;
			top: -40px;
			right: -18px;
			display: inline-block;
			text-align: center;
		}
	}
	.last{
		border-right: 1px solid @med-gray;
	}
}
/* ============ Line-Graph ============ */
/* ============ Tab Cluster ============ */
.tab-cluster{
	padding-left: 45px;
	width: 100%;
	height: auto;
	padding-bottom: 0px;
	border-bottom: 1px solid #a8abad;
	margin-top: -2px;
	z-index: 3;
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		li{
			position: relative;
			display: inline-block;
			height: 50px;
			width: auto;
			padding: 6px 30px;
			text-align: center;
			color: @dark-blue;
			font-size: 18px;
			background: linear-gradient(#FFF, #e6e6e6);
			border-top: 1px solid #a8abad;
			border-left: 1px solid #a8abad;
			margin-left: 0px;
			margin-right: -5px;
			margin-bottom: 0px;
			transition: all .5s;
			@media(min-width:768px) and (max-width:1199px){
				font-size: 16px;
				padding: 6px 15px;
			}
			&:hover{
				cursor: pointer;
				background: linear-gradient(#FFF, #FFF);
			}
			&:first-child{
				border-top-left-radius: 5px;
				padding: 6px 10px;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-right: 1px solid #a8abad;
				padding: 6px 10px;
			}
		}
		.active{
			border-bottom: 1px solid #edeff0;
			background: #edeff0;
			color: black;
			font-weight: 700;
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				bottom: -3px;
				left: 0px;
				background: #edeff0;
			}
		}
		.fa-chevron-circle-down, .fa-angle-right{
			font-size: 24px;
		}
		.fas{
			position: relative;
			top: 3px;
		}
	}
	.cluster-sub{
		position: absolute;
		height: auto;
		width: 100%;
		min-width: 201px;
		top: 100%;
		left: -1px;
		background: white;
		z-index: 99 !important;
		display: none;
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: block;
				padding: 7px 10px;
				border-radius: 0px;
				background: white;
				border-right: 1px solid @med-light-gray;
				text-align: left;
				&:last-child{
					border-bottom: 1px solid @med-light-gray;
				}
			}
			.count{
				text-align: center;
			}
		}
	}
}
/* ============ End Tab Cluster ============ */
/* ============ Link Cluster ============ */
.link-cluster{
	font-size: 16px;
	font-weight: 700;
	ul{
		padding: 0px;
		list-style: none;
		li{
			display: inline-block;
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
			a{
				color: inherit;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&:after{
				position: absolute;
				content: '';
				height: 20px;
				width: 1px;
				background: @dark-gray;
				top: 10px;
				right: 0px;
			}
			&:last-child{
				&:after{
					content: '';
					height: 0px;
					width: 0px;
				}
			}
		}
	}
}
/* ============ End Link Cluster ============ */
/* ============ Button Cluster ============ */
.button-cluster{
	ul{
		list-style: none;
		padding: 0px;
		li{
			position: relative;
			display: inline-block;
			height: 60px;
			width: auto;
			padding: 12px 30px;
			text-align: center;
			color: #a8abad;
			font-size: 18px;
			background: linear-gradient(#FFF, #dfdfdf);
			border-top: 1px solid #a8abad;
			border-left: 1px solid #a8abad;
			//border-bottom: 3px solid #a8abad;
			box-shadow: 0px 3px 0px #a8abad;
			margin-left: 0px;
			margin-right: -5px;
			transition: all .5s;
			@media(min-width:768px) and (max-width:1205px){
				padding: 12px 13px;
				font-size: 16px;
			}
			&:hover{
				cursor: pointer;
				background: linear-gradient(#FFF, #FFF);
			}
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				padding: 12px 10px;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right: 1px solid #a8abad;
				padding: 12px 10px;
			}
			.step-count{
				display: none;
			}
		}
	}
	.completed{
		color: @light-blue;
		box-shadow: 0px 3px 0px @light-blue;
		.step-count{
			color: white;
			font-size: 16px;
			font-weight: 700;
			background: @light-blue;
			position: absolute;
			display: inline-block;
			height: 25px;
			width: 25px;
			border-radius: 30px;
			line-height: 26px;
			bottom: -13px;
			left: 50%;
			transform:translateX(-50%);
		}
	}
	.current{
		color: black;
		box-shadow: 0px 3px 0px @dark-green;
		background: @yellow;
		.step-count{
			color: white;
			font-size: 16px;
			font-weight: 700;
			background: @dark-green;
			position: absolute;
			display: inline-block;
			height: 25px;
			width: 25px;
			border-radius: 30px;
			line-height: 26px;
			bottom: -13px;
			left: 50%;
			transform:translateX(-50%);
		}
	}
}
/* ============= End Button Cluster ========= */
/* ============ Custom Checkbox ======== */
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
	  position: relative;
	  content: '';
	  display: inline-block;
	  vertical-align: middle;
   	  text-align: center;
	  width: 40px;
	  height: 40px;
	  background: white;
	  border-radius: 5px;
	  border: 1px solid @med-light-gray;
	  padding: 5px;
	  margin-top: 30%;
	  left: 0px;
  }

  // Box hover
  &:hover + label:before {
    background: @dark-green;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: white;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. replaced with an image
  &:checked + label:after {
    content: url(img/checked.png);
	font-weight: 700;
    position: absolute;
    left: 3px;
    top: 15px;
    color: white;
  }
}
/* ============ End Custom Checkbox ======== */
/* ============ Custom Radio Button ======== */
.custom-radio {
	float: left;
	margin-right: 30px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: @dark-blue;
    position: absolute;
    top: 15px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* ============ End Custom Radio Button ============= */
/* ============ Toggle Checkbox ============ */
/* =========== Toggle Radio ============ */
// COLORS
@white: hsla(0, 0, 100%, 1);
@darkgray: hsla(0, 0, 24%, 1);
@base-gray: hsla(203, 15.85%, 32.15%, 1.0);
@gray-saturate-85: saturate(@base-gray, 85%);
@button-blue: lighten(@gray-saturate-85, 7%);

// TRANSITION SPEEDS
@transition-fast: 0.15s;

// ON OFF SWITCH
@switch-height: 22px;
@switch-width: 55px;
@switch-group-height: @switch-height + 2;
@toggle-group-height: @switch-height + 5;

// MIXINS
.box-sizing (@sizing: border-box) {
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}

.transition (@attr,@time,@ease) {
    -webkit-transition: @attr @time @ease;
    -o-transition: @attr @time @ease;
    -moz-transition: @attr @time @ease;
    transition: @attr @time @ease;
}

.border-radius (@radius: 4px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
/* ON/OFF Switch */
.onoffswitch {
    position: relative;
    width: 75px;
	height: 25px;
    display: inline-block;
    font-size: 80%;

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid darken(@white, 10%);
        .border-radius(@switch-height - 2);
        margin: 0;
		height: 30px;
		width: 75px;
    }

    .onoffswitch-inner {
        width: 200%;
        margin-left: -100%;
        .transition(margin, @transition-fast, ease-in-out);

        &:before,
        &:after {
            float: left;
            width: 50%;
            height: @switch-group-height;
            padding: 0;
            line-height: @switch-group-height;
            font-size: 100%;
            color: @white;
            font-weight: normal;
            .box-sizing(border-box);
        }

        &:before {
            content: "Yes";
            padding-left: 15px;
			padding-top: 1px;
            background-color: @dark-green;
            color: @white;
			height: 32px;
			font-size: 16px;
        }

        &:after {
            content: "No";
            padding-right: 20px;
			padding-top: 1px;
            background-color: darken(@white, 2%);
            color: @copy-gray;
            text-align: right;
			height: 37px;
			font-size: 16px;
        }
    }

    .onoffswitch-switch {
        width: 25px;
        height: 25px;
        margin: 0;
        background: @white;
        box-shadow: 0 0 3px rgba(0,0,0,.3);
        .border-radius(50%);
        position: absolute;
        top: 2px;
        bottom: 0;
        right: @switch-height + 35;
        .transition(right, @transition-fast, ease-in-out);
    }
	.t-switch{
		right: @switch-height + 17;
	}
}
.toggle-group {
    position: relative;
    input[type=checkbox] {
        position: absolute;
        left: 10px;
		visibility: hidden;
        &:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        &:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
            right: 1px;
            box-shadow: 0 0 3px rgba(0,0,0,.5);
        }

        &:focus  ~ .onoffswitch {
            outline: thin dotted #333;
            outline: 0;
        }
    }

    label {
        position: absolute;
        cursor: pointer;
        padding-left: @switch-width + 20;
        display: inline-block;
        text-align: left;
        line-height: @switch-group-height;
        width: auto;
        z-index: 1;
        height: @switch-group-height;
        font-weight: 200;
    }

}
/* ============== End Toggle Checkbox ============ */
/* ============== Custom Select Box ============ */ 
body select { 
	display: block; 
	padding: 7px 25px 7px 13px !important; 
	max-width: 100%; 
	height: auto !important; 
	border: 1px solid #e3e3e3; 
	border-radius: 5px; 
	background: url("img/selectbox_arrow.png") right center no-repeat; 
	background-color: #fff; 
	color: @dark-blue; 
	font-size: 16px; 
	line-height: 16px !important; 
	appearance: none; /* this is must */ 
	-webkit-appearance: none; -moz-appearance: none; 
} 
/* body select.select_box option */ 
body select option { padding: 0px 7px; }
/* for IE and Edge */ 
select::-ms-expand { display: none; } 
select:disabled::-ms-expand { background: #f60; } 
.select{width: 100%;}

/* ============ Custom Scrollbar ============  */
/* ============ FireFox and IE does not support Custom Scrollbar ============  */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
}
 
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(80,142,204,0.3);
	box-shadow: inset 0 0 6px rgba(80,142,204,0.3);
}
 
.custom-scroll::-webkit-scrollbar-thumb {
  	background-color: @light-blue;
	outline: 1px solid slategrey;
	box-shadow: 0 3px 3px 0px @dark-gray;
}
/* ============ End Custom Scrollbar ============  */
/* ===================== End Element Settings ===================== */
