/* ============= Site Variables ============ */

/* ====== Colors ===== */
@dark-blue: #004990;
@light-blue: #508ecc;
@sky-blue: #dceaf7;
@yellow: #faffd9;
@peach: #fff8db;
@orange: #fcaf17;
@light-green: #b8cb33;
@dark-green: #3eae48;
@dark-green: #3eae48;
@maroon: #9d1c20;
@red: #d1262b;
@copy-gray:#3e4347;
@dark-gray: #515254;
@med-gray: #a4a7ab;
@med-light-gray: #c3c5c7;
@light-gray: #edeff0;

/* ======= Fonts ====== */
@roboto: 'Roboto', sans-serif;
@robotoCon: 'Roboto Condensed', sans-serif;
.roboto{
	font-family: @roboto;
}
.roboto-con{
	font-family: @robotoCon;
}
/* ============= End Site Variables ============ */

/* ============= Global Site Settings ============ */

html, body{
	height: 100%;
	h1, h2, h3, h4, h5, h6{
		font-family: @roboto;
	}
	h1{ font-size: 50px; }
	h2{ font-size: 42px; }
	h3{ font-size: 32px; }
	h4{ font-size: 24px; }
	h5{ font-size: 20px; }
	h6{ font-size: 18px; }
	p, ul, ol{
		font-family: @roboto;
		font-size: 18px;
		line-height: 36px;
		color: @copy-gray;
	}
	a{
		color: @dark-blue;
		text-decoration: none;
		&:visited{
			color: @light-blue;
			text-decoration: underline;
		}
		&:hover{
			color: @light-blue;
			text-decoration: underline;
		}
	}
	table{
		font-family: @robotoCon;
		font-size: 20px;
		color: @copy-gray;
		@media(min-width:768px) and (max-width:1531px){
			font-size: 14px;
		}
		@media(min-width:1532px) and (max-width:1704px){
			font-size: 16px; 
		}
		thead{
			th{
				padding: 5px !important; 
			}
		}
	}
}
.page-wrapper{
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
}
/* ========== Backgrounds ========= */
.white-bg{ background: white; }
.inner-white-bg{ background: white; }
.gray-bg{ background: @light-gray; }
.med-gray-bg{background: @med-gray;}
.light-blue-bg{background: @sky-blue; }
.dark-blue-bg{background: @dark-blue;}
.med-blue-bg{background: @light-blue;}
.light-gray-bg{ background: #f6f7f7;}

/* ========== Colors ========= */
.red{ color: @red !important;}
.dark-blue{color:@dark-blue !important;}
.light-blue{color: @light-blue !important;}
.orange{color: @orange !important;}
.med-gray{ color: @med-gray !important;}
.light-gray{ color: @light-gray !important;}

/* ========== Borders ========= */
.top-left-radius{ border-top-left-radius: 5px; }
.top-right-radius{ border-top-right-radius: 5px; }
.bottom-left-radius{ border-bottom-left-radius: 5px; }
.bottom-right-radius{ border-bottom-right-radius: 5px; }
.last-border{border-bottom:1px solid @med-gray !important;}
.no-border{border: none !important;}
.has-border{ border: 1px solid #c3c5c7; }

/* ========== Paddings ========= */
.no-padding{padding: 0px !important;}
.pad-top-30{padding-top: 30px;}
.pad-top-60{padding-top: 60px;}
.pad-bottom-30{padding-bottom:30px;}
.pad-bottom-50{padding-bottom:50px;}
.no-bottom-padding{padding-bottom: 0px !important;}
.pad-top{padding-top:30px;}

/* ========== Margins ========= */
.no-left-margin{margin-left: 0px !important;}
.no-right-margin{margin-right: 0px !important;}
.no-bottom-margin{margin-bottom: 0px !important;}
.no-margin{margin: 0 !important;}

/* ========== Positions ========= */
.up-20{margin-top: -20px;}
.up-25{margin-top: -25px;}
.down-60{margin-top: 60px !important;}
.down-40{margin-top: 40px !important;}
.down-15{margin-top: 15px !important;}
.light-font{font-weight: 400 !important;}
.flt-right{float: right;}
.no-height{height:auto !important;max-height: none !important;}

.fixed-height-350px{
	position: relative;
	height: 350px;
	width: auto;
	display: block;
	overflow-y: auto;
}

/* ========== Visibility ========= */
.hidden-xs{
	@media(max-width:767px){
		display: none;
	}
}
.hidden-sm{
	@media(min-width:768px) and (max-width:991px){
		display: none;
	}
}
.hidden-md{
	@media(min-width:992px) and (max-width:1199px){
		display: none;
	}
}
.hidden-lg{
	@media(min-width:1200px) and (max-width:1250px){
		display: none;
	}
}
.visible-md{
	display: none;
	@media(min-width:768px) and (max-width:991px){
		display: block;
	}
}
.not-visible{
	visibility: hidden;
}

/* ========== Buttons ========= */
.dark-blue-btn{
	background: @dark-blue;
	color:white !important;
	display: inline-block;
	padding: 7px 15px;
	border-radius: 7px;
	border: 1px solid @dark-blue;
	box-shadow: 0px 3px 0px #38393B;
	transition: all .25s;
	font-size: 20px;
	height: auto;
	width: 100%;
	text-align: center;
}
.white-btn{
	background: white;
	color: @dark-blue;
	display: inline-block;
	padding: 7px 15px;
	border-radius: 7px;
	border:1px solid #85898c;
	box-shadow: 0px 2px 0px #c3c5c7;
	transition: all .25s;
	font-size: 20px;
	height: auto;
	width: 100%;
	text-align: center;
}
.profile-btn{
	position: relative;
	color: @dark-blue;
	background: white;
	width: auto;
	display: inline-block;
	font-size: 18px;
	padding: 7px 80px 7px 10px;
	border: 1px solid @med-light-gray;
	border-bottom: 3px solid @med-light-gray;
	border-radius: 7px;
	text-align: center;
	&:after{
		content: '';
		position: absolute;
		height: 100%;
		width: 1px;
		background: @med-gray;
		right: 35px;
		top: 0px;
	}
	.fa-user{
		color: @med-light-gray;
	}
	.fa-bell{
		position: absolute;
		font-size: 20px;
		color: #78797a;
		right: 55px;
		top: 10px;
	}
	.fa-angle-down{
		position: absolute;
		margin-left: 30px;
		color: @dark-blue;
		font-size: 22px;
		top: 10px;
		right: 10px;
	}
	.count{
		position: absolute;
		display: inline-block;
		font-size: 11px;
		height: 18px;
		width: auto;
		text-align: center;
		right: 40px;
		top: 5px;
		padding: 0 5px;
		line-height: 18px;
	}
	.head-sub-nav{
		position: absolute;
		height: auto;
		width: 100%;
		min-width: 247px;
		background: white;
		top: 37px;
		right: -1px;
		border: 1px solid @med-gray;
		text-align: left;
		z-index: 9;
		padding: 10px 0px 0px;
		display: none;
		ul{
			padding: 0px;
			list-style: none;
			width: 100%;
			li{
				position: relative;
				width: 100%;
				display: block;
				border-bottom: 1px solid @med-gray;
				padding: 5px 0px 5px 10px;
				&:last-child{
					border-bottom: none;
					padding: 5px 0px 5px 10px;
				}
			}
			.icon{
				color: @med-light-gray;
				margin-right: 7px;
			}
			a{ color: @dark-blue;}
		}
		.count{
			position: absolute;
			top: 10px;
			right: 10px;
			height: 25px;
			width: auto;
			text-align: center;
			padding: 3px 8px 0px 8px;
			font-size: 13px;
		}
	}
}
/* ================ Form Elements =============== */
.form-control, .area-control{
	margin-bottom: 15px;
}
.area-control{
	min-height: 200px;
}
.hasDatepicker{
	padding-left: 45px !important;
}
.ui-datepicker-trigger{
	position: absolute;
	top: 6px;
	left: 22px;
	padding-right: 5px;
	border-right:1px solid @med-light-gray;
}
/* ============ Custom Text Field ====== */
.custom-input{
	position: relative;
	height: auto;
	width: 100%;
	display: block;
	.custom-field{
		position: relative;
		width: 100%;
		height: 35px;
		border-radius: 20px;
		border: none;
		box-shadow: inset 0px 0px 3px #000;
		margin-top: 7px;
		padding-left: 35px;
		padding-right: 7px;
		z-index: 1;
	}
	.custom-label{
		position: absolute;
		top: 10px;
		left: 10px;
		color: @light-blue;
		font-size: 20px;
		z-index: 2;
	}
}
/* ============ Custom Checkbox ======== */

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
	  position: relative;
	  content: '';
	  display: inline-block;
	  vertical-align: middle;
   	  text-align: center;
	  width: 40px;
	  height: 40px;
	  background: white;
	  border-radius: 5px;
	  border: 1px solid @med-light-gray;
	  padding: 5px;
	  margin-top: 7px;
	  margin-right: 10px;
	  left: 0px;
  }

  // Box hover
  &:hover + label:before {
    background: @dark-green;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: white;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. replaced with an image
  &:checked + label:after {
    content: url(img/checked.png);
	font-weight: 700;
    position: absolute;
    left: 3px;
    top: 11px;
    color: white;
  }
}
/* ============ End Custom Checkbox ======== */
/* ============ Custom Radio Button ======== */
.custom-radio {
	float: left;
	margin-right: 30px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: @dark-blue;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* ============ End Custom Radio Button ============= */
/* ============ Toggle Checkbox ============ */
/* =========== Toggle Radio ============ */
// COLORS
@white: hsla(0, 0, 100%, 1);
@darkgray: hsla(0, 0, 24%, 1);
@base-gray: hsla(203, 15.85%, 32.15%, 1.0);
@gray-saturate-85: saturate(@base-gray, 85%);
@button-blue: lighten(@gray-saturate-85, 7%);

// TRANSITION SPEEDS
@transition-fast: 0.15s;

// ON OFF SWITCH
@switch-height: 22px;
@switch-width: 55px;
@switch-group-height: @switch-height + 2;
@toggle-group-height: @switch-height + 5;

// MIXINS
.box-sizing (@sizing: border-box) {
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}

.transition (@attr,@time,@ease) {
    -webkit-transition: @attr @time @ease;
    -o-transition: @attr @time @ease;
    -moz-transition: @attr @time @ease;
    transition: @attr @time @ease;
}

.border-radius (@radius: 4px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
/* ON/OFF Switch */
.onoffswitch {
    position: relative;
    width: 75px;
	height: 25px;
    display: inline-block;
    font-size: 80%;

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid darken(@white, 10%);
        .border-radius(@switch-height - 2);
        margin: 0;
		height: 30px;
		width: 75px;
    }

    .onoffswitch-inner {
        width: 200%;
        margin-left: -100%;
        .transition(margin, @transition-fast, ease-in-out);

        &:before,
        &:after {
            float: left;
            width: 50%;
            height: @switch-group-height;
            padding: 0;
            line-height: @switch-group-height;
            font-size: 100%;
            color: @white;
            font-weight: normal;
            .box-sizing(border-box);
        }

        &:before {
            content: "Yes";
            padding-left: 15px;
			padding-top: 1px;
            background-color: @dark-green;
            color: @white;
			height: 32px;
			font-size: 16px;
        }

        &:after {
            content: "No";
            padding-right: 20px;
			padding-top: 1px;
            background-color: darken(@white, 2%);
            color: @copy-gray;
            text-align: right;
			height: 37px;
			font-size: 16px;
        }
    }

    .onoffswitch-switch {
        width: 25px;
        height: 25px;
        margin: 0;
        background: @white;
        box-shadow: 0 0 3px rgba(0,0,0,.3);
        .border-radius(50%);
        position: absolute;
        top: 2px;
        bottom: 0;
        right: @switch-height + 45;
        .transition(right, @transition-fast, ease-in-out);
    }
	.t-switch{
		right: @switch-height + 27;
	}
}
.toggle-group {
    position: relative;
    input[type=checkbox] {
        position: absolute;
        left: 10px;
		visibility: hidden;
        &:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        &:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
            right: 1px;
            box-shadow: 0 0 3px rgba(0,0,0,.5);
        }

        &:focus  ~ .onoffswitch {
            outline: thin dotted #333;
            outline: 0;
        }
    }

    label {
        position: absolute;
		margin-top: 2px;
        cursor: pointer;
        padding-left: @switch-width + 30;
        display: inline-block;
        text-align: left;
        line-height: @switch-group-height;
        width: auto;
        z-index: 1;
        height: @switch-group-height;
        font-weight: 200;
    }

}
/* ============== End Toggle Checkbox ============ */
/* ============ Multi Select ======= */
.ms-container{
  background: transparent url('images/switch.png') no-repeat 50% 50%;
  width: 100%;
}

.ms-container:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff;
  color: @copy-gray;
  float: left;
  width: 45%;
}
.ms-container .ms-selection{
  float: right;
}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto;
}

.ms-container .ms-list.ms-focus{
  border-color: @light-blue;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 14px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: @light-blue;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
  cursor: text;
}
/* ============== Custom Select Box ============ */ 
body select { 
	display: block; 
	padding: 7px 25px 7px 13px !important; 
	max-width: 100%; 
	height: auto !important; 
	border: 1px solid #e3e3e3; 
	border-radius: 5px; 
	background: url("img/selectbox_arrow.png") right center no-repeat; 
	background-color: #fff; 
	color: @dark-blue; 
	font-size: 16px; 
	line-height: 16px !important; 
	appearance: none; /* this is must */ 
	-webkit-appearance: none; -moz-appearance: none; 
} 
/* body select.select_box option */ 
body select option { padding: 0px 7px; }
/* for IE and Edge */ 
select::-ms-expand { display: none; } 
select:disabled::-ms-expand { background: #f60; } 
.select{width: 100%;}
.file-list{
	list-style: none;
	padding: 0px;
	li{
		position: relative;
		display: block;
		line-height: 48px;
		font-size: 18px;
		font-weight: 700;
		color: @dark-blue;
		padding-left: 60px;
		border-bottom: 1px dashed @dark-gray;
		a{
			color: inherit;
		}
		&:before{
		  	font-family: "Font Awesome 5 Free";
		  	content: "\f1c1";
			font-weight: 400;
			position: absolute;
			left: 25px;
			top: 1px;
		}
		&:last-child{
			border-bottom: 0px;
		}
	}
}
.count{
	color: white;
	font-size: 16px;
	font-weight: 700;
	background: @red;
	display: inline-block;
	text-align: center;
	height: 25px;
	width: auto;
	padding: 0px 8px;
	border-radius: 30px;
	line-height: 26px;
}
.pagination{
	.page-link{
		background: @light-gray;
		border: 1px solid @med-light-gray;
		border-bottom: 3px solid @med-light-gray;
		&:hover{
			background: white;
		}
		a{
			color: @dark-blue;
		}
	}
	.active{
		background: white !important;
	}
}

.skip-to-content-container{
	position: absolute;
	height: auto;
	width: 40%;
	top: -30px;
	left: 0px;
	text-align: right;
	z-index: 99 !important;
	.skip-to-content{
		color: @dark-blue;
	}
}
.ui-datepicker{
	.ui-datepicker-year{
		margin: 0 auto !important;
	}
}
.help-tip{
	position: absolute;
	height: auto;
	width: 200px;
	display: block;
	padding: 10px;
	border: 1px solid @med-light-gray;
	border-radius: 7px;
	background: @yellow;
	color: @dark-gray;
	font-size: 14px;
	z-index: 3;
	top: 40px;
	left: 165px;
	display: none;
	.tip-bg{
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0px;
		left: 0px;
		background-color: transparent;
		z-index: 1;
	}
}
.custom-modal-container{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: transparent;
	z-index: 99999 !important;
	display: none;
	.custom-modal{
		position: relative;
		display: block;
		top: 10px;
		width: 90%;
		height: 95vh;
		overflow: auto;
		margin: 0 auto;
		background: @light-gray;
		z-index: 2;
		.modal-header{
			position: relative;
			height: auto;
			width: 100%;
			background: white;
			border-bottom: 1px solid @med-light-gray;
			box-shadow: 0px 0px 5px @med-light-gray;
			padding: 20px 20px 10px 20px;
			font-size: 22px;
			color: @dark-blue;
			font-family: @robotoCon;
			.close-window{
				float: left;
				display: inline-block;
				transition: color .25s;
				padding-top: 10px;
				&:hover{
					cursor: pointer;
					color: @light-blue;
				}
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					display: inline-block;
					margin-left: 10px;
					margin-right: 10px;
					font-size: 22px;
					font-family: @robotoCon;
					color: @dark-blue;
					transition: color .25s;
					&:hover{
						cursor: pointer;
						color: @light-blue;
					}
					&:last-child{
						margin-right: 0px;
					}
				}
				.close-modal{
					font-size: 36px;
					position: relative;
					right: 0px;
					top: 5px;
				}
			}
		}
		.modal-body{
			position: relative;
			height: auto;
			width: 100%;
			overflow: auto;
			padding: 20px 40px;
			@media(min-width:768px) and (max-width:1199px){
				padding: 20px 15px;
			}
			h2{
				font-size: 36px;
				font-weight: 700;
			}
			.alternating-table{
				margin-top: 30px;
				border-top: 1px solid @med-light-gray;
				tr{
					background: white;
					&:last-child{
						border-bottom: 1px solid @med-light-gray;
					}
					&:nth-child(2n){
						background: #f6f7f7;
					}
				}
				th{
					border-right: 1px solid @med-light-gray;
					border-left:1px solid @med-light-gray;
					border-bottom: none;
					background: @peach;
					&:first-child{
						border-top-left-radius:10px;
					}
					&:last-child{
						border-top-right-radius:10px;
					}
				}
				.white-gray-table{
					border-right: 1px solid @med-light-gray;
					border-left: 1px solid @med-light-gray;
					border-radius: 5px !important;
					td{
						border-left: none !important;
						border-right: none !important;
					}
				}
				tbody{
					background-color: white;
					td{
						border-top: 1px dashed @med-light-gray;
						border-right: 1px solid @med-light-gray;
						border-left: 1px solid @med-light-gray;
					}
					.med-gray{
						font-family: @robotoCon;
					}
				}
				.table-footer{
					background: #ffe49b;
					border-top: 1px solid #fcaf17;
					border-bottom: 1px solid @med-light-gray;
				}
				.white-btn{
					padding: 1px 0px;
					font-size: 14px;
					font-weight: 700;
					width: 55px;
					text-align: center;
				}
			}
			.med-blue-bg{
				color: white;
				font-size: 22px;
				padding-left: 35px;
				padding-right: 35px;
			}
			.help-category{
				position: relative;
				display: inline-block;
				.custom-select{
					position: relative;
					display: inline-block;
					z-index: 1;
					min-width: 300px;
					font-size: 18px;
					color: @dark-blue;
				}
				label{
					color: @dark-blue;
					position: absolute;
					right: 0px;
					top: 1px;
					z-index: 2;
					height: 94%;
					width: 40px;
					padding: 2px 0px 5px 12px;
					background: white;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-left: 1px solid @med-light-gray;
				}
			}
		}
		.custom-modal-footer{
			position: relative;
			height: auto;
			padding: 20px 35px;
			width: 100%;
			background: white;
			border-top: 1px solid @med-light-gray;
			box-shadow: 0px 0px 5px @med-light-gray;
			ul{
				padding: 0px;
				list-style: none;
				float: right;
				li{
					display: inline-block;
					margin-left: 10px;
					margin-right: 10px;
					font-size: 22px;
					font-family: @robotoCon;
					color: @dark-blue;
					transition: color .25s;
					&:hover{
						cursor: pointer;
						color: @light-blue;
					}
					&:last-child{
						margin-right: 0px;
					}
				}
				.close-modal{
					font-size: 36px;
					position: relative;
					right: 0px;
					top: 5px;
				}
			}
		}
	}
	.modal-bg{
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		z-index: 1;
		background-color: rgba(0,0,0,0.7);
	}
}

.breadcrumb{
	background-color: transparent !important;
	color: white;
	margin-bottom: 0px;
	a{
		color: white;
		&:after{
			content:'/';
			font-size: 16px;
			color: black;
			position: relative;
			margin-left: 7px;
			margin-right: 7px;
			text-decoration: none;
		}
		&:last-child{
			&:after{
				content: '';
				position: absolute;
			}
		}
	}
	.current{
		color: white;
	}
}

/* ===================== Mobile Nav Section ====================== */
.mobi-nav-bar{
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: auto;
	padding: 0px 15px 5px 15px;
	background: @dark-blue;
	z-index: 99 !important;
	text-align: center;
	display: block;
	a{
		color: white !important;
		text-transform: uppercase;
		font-weight: 100;
		font-size: 3.5vw;
		text-decoration: none;
	}
	.icon{
		position: relative;
		top: 13px;
		font-size: 8vw;
	}
	ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
		li{
			display: inline-block;
			margin-right: 6.5vw;
			text-align: center;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}
.mobi-search-container{
	position: absolute;
	bottom: 100%;
	left: 0px;
	width: 100%;
	height: auto;
	padding: 15px;
	background: @dark-blue;
	border-bottom: 2px solid white;
	display: none;
	.search-field{
		height: 35px;
		width: 95%;
		display: block;
		margin: 0 auto;
		border-radius: 20px;
		border: none;
		padding-left: 35px;
		padding-right: 15px;
		font-size: 18px;
	}
	.search-label{
		color: @light-blue;
		position: absolute;
		top: 15px;
		left: 9vw;
		font-size: 22px;
	}
}

.mobi-nav-container{
	position: absolute;
	bottom: 100%;
	left: 0px;
	height: auto;
	width: 100%;
	background: @dark-gray;
	border-bottom: 2px solid white;
	z-index: 999 !important;
	display: none;
	.mobi-nav{
		position: relative;
		height: 400px;
		width: 100%;
		padding: 0px;
		display: block;
		overflow: auto;
		a{
			color: white;
			text-transform: none;
			font-size: 18px;
			text-align: center;
		}
		ul{
			padding: 0px;
			list-style: none;
			position: relative;
			height: auto;
			li{
				position: relative;
				display: block;
				width: 100%;
				border-bottom: 1px solid #38393b;
				box-shadow: 0px 0px 1px #000;
				padding: 5px 0px;
				color: white;
				text-transform: none;
				font-size: 18px;
				font-weight: 400;
				.fas{
					position: absolute;
					top: 7px;
					right: 15px;
					font-size: 26px;
				}
				&:last-child{
					border-bottom: none;
					box-shadow: none;
					padding-bottom: 0px;
				}
			}
			.mobi-sub-nav{
				position: relative;
				height: auto;
				width: 100%;
				left: 0px;
				top: 5px;
				background: #a4a7ab;
				display: none;
				font-weight: 400;
			}
		}
	}
}
/* ===================== End Mobile Nav Section ====================== */

.page-title{
	font-family: @roboto;
	font-weight: 100;
	font-size: 64px;
	line-height: 64px;
	letter-spacing: -.025em;
	@media(min-width:768px) and (max-width:1449px){
		font-size: 40px;
		line-height: 40px;
		padding-top: 10px;
	}
	@media(min-width:768px) and (max-width:1050px){
		margin-top: 40px;
	}
}

.system-alert{
	position: relative;
	height: auto;
	width: 100%;
	background: #fff2b8;
	padding: 0px 65px 30px 40px;
	border-bottom: 1px solid @orange;
	.alert-title{
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 10px;
		padding-top: 30px;
		border-bottom: 5px solid @orange;
		.close-alert{
			position: relative;
			color: @light-blue;
			font-size: 24px;
			font-weight: 400;
			float: right;
			right: 15px;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.alert-body{
		font-size: 20px;
	}
}
.page-head{
	width: 100%;
	display: block;
	height: auto;
	//padding-top: 15px;
	padding-bottom: 20px;
	position: relative;
	padding-left: 40px;
	background: url(img/title-bg.jpg) no-repeat;
	background-size: cover;
	background-position: right;
	color: white;
	.breadcrumb{
		background-color: transparent;
		color: white;
		margin-bottom: .75rem;
		padding-left: 0px;
		a{
			color: white;
			&:after{
				content:'/';
				font-size: 16px;
				color: black;
				position: relative;
				margin-left: 7px;
				margin-right: 7px;
				text-decoration: none;
			}
			&:last-child{
				&:after{
					content: '';
					position: absolute;
				}
			}
		}
	}
	.page-title{
		font-family: @roboto;
		font-weight: 100;
		font-size: 64px;
		line-height: 64px;
		letter-spacing: -.025em;
		@media(min-width:768px) and (max-width:1449px){
			font-size: 40px;
			line-height: 40px;
			padding-top: 10px;
		}
		@media(min-width:768px) and (max-width:1050px){
			margin-top: 40px;
		}
	}
	.member-name{
		position: relative;
		line-height: 10px;
		margin-top: -10px;
		padding-bottom: 20px;
		@media(min-width:768px) and (max-width:1050px){
			line-height: 40px;
			margin-top: -40px;
			padding-bottom: 0px;
		}
	}
	.head-logo{
		position: absolute;
		right: 0px;
		top: 0px;
		height: 100%;
		padding-right: 50px;
		@media(min-width:768px) and (max-width:1199px){
			width: 30%;
		}
		.logo{
			.gradient-container{
				position: absolute;
				left: -250px;
				height: 100%;
				width: 250px;
				background: linear-gradient(to right, transparent, white);
				@media(min-width:768px) and (max-width:991px){
					width: 100px;
					left: -100px;
				}
			}
			position: absolute;
			height: 100%;
			width: 260px;
			background: white;
			right: 0px;
			padding-right: 65px;
			@media(min-width:768px) and (max-width:991px){
				width: 220px;
			}
			img{
				position: relative;
				width: 100%;
				height: auto;
				display: block;
				right: 0px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
.info-card{
	position: relative;
	border-top: 1px solid @med-light-gray;
	border-left: 1px solid @med-light-gray;
	border-right: 1px solid @med-light-gray;
	border-bottom: 3px solid @med-light-gray;
	border-radius: 7px;
	background: white;
	margin-bottom: 25px;
	.card-header{
		font-size: 24px;
		color: @dark-blue;
		font-weight: 400;
		padding: 20px;
		background: linear-gradient(white, #e5e5e5);
		margin: 0px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		@media(min-width: 1348px) and (max-width: 1503px){
			font-size: 20px;
		}
		@media(min-width: 1225px) and (max-width: 1347px){
			font-size: 18px;
			padding: 10px;
		}
		@media(min-width: 992px) and (max-width: 1224px){
			font-size: 16px;
			padding: 10px;
		}
		.count{
			padding-left: 9px;
			padding-right: 9px;
			padding-top: 0px;
			width: auto;
			text-align: center;
			line-height: 24px;
		}
	}
	.card-body{
		font-family: @robotoCon;
		font-size: 20px;
		@media(min-width:1200px) and (max-width:1468px){
			padding: 15px 10px;
		}
		.card-buttons{
			position: relative;
			margin-top: 15px;
			text-align: center;
			.dark-blue-btn{
				display: inline-block;
				font-size: 18px;
				@media(min-width:1589px) and (max-width:1692px){
					font-size: 16px;
				}
				@media(min-width:1400px) and (max-width:1588px){
					font-size: 16px;
					padding: 7px 10px;
				}
				@media(min-width:768px) and (max-width:1408px){
					position: relative;
					width: 100%;
					display: block;
				}
			}
			.white-btn{
				display: inline-block;
				font-size: 18px;
				@media(min-width:1589px) and (max-width:1692px){
					font-size: 16px;
				}
				@media(min-width:1400px) and (max-width:1588px){
					font-size: 16px;
					padding: 7px 5px;
				}
				@media(min-width:768px) and (max-width:1408px){
					position: relative;
					width: 100%;
					display: block;
					margin-top: 15px;
				}
			}
		}
	}
	.card-table{
		font-family: @robotoCon;
		font-size: 18px;
		color: #77797a;
		width: auto;
		height: 280px;
		overflow-y: scroll;
		position: relative;
		width: 100%;
		a{
			color: inherit;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:visited{
				color: @light-blue;
			}
		}
		td{
			padding: 5px;
		}
		.fas{
			color: @dark-blue;
			font-size: 22px;
		}
		.date-showing{
			position: relative;
			border: none;
			background-color: transparent;
			text-align: center;
			font-size: 20px;
			font-weight: 700;
			color: black;
			width: 175px;
			display: inline-block;
		}
		.alternating-table{
			margin-top: 0px;
			margin-bottom: 0px;
			th{
				padding: 10px 5px;
			}
			.no-border{
				td{
					border: none !important;
				}
			}
			a{
				font-weight: inherit;
			}
			.white-btn{
				font-size: 20px;
				padding: 1px;
			}
			.map-table{
				td{
					vertical-align: middle;
				}
			}
			.marker-container{
				position: relative;
				.marker{
					position: relative;
					font-size: 38px;
					margin-top: 12px;
				}
				.marker-id{
					position: absolute;
					color: white;
					font-size: 20px;
					top: 25%;
					left: 40%;
				}
			}
		}
		.claim-table{
			a{
				color: @dark-blue;
				&:visited{
					color: @light-blue;
				}
			}
		}
		.bolded-tb{
			td{
				padding-top: 20px;
				padding-left: 15px;
			}
			p{
				line-height: 18px;
			}
			.title{
				font-weight: 700;
				color: black;
			}
			.details{
				color: #77797a;
				font-weight: 400;
				margin-top: -10px;
			}
		}
		.head-border{
			th{
				border-left: 1px solid @med-light-gray;
				border-right: 1px solid @med-light-gray;
			}
		}
	}
	.card-bottom{
		background: #dceaf7;
		color: @dark-blue;
		padding: 20px;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		.fas{
			position: relative;
			font-size: 18px;
			left: 7px;
			top: 2px;
		}
		a{
			color: inherit;
			text-decoration: none;
			transition: color .25s;
			&:hover{
				color: @dark-gray;
				text-decoration: underline;
			}
		}
	}
	.blue-card{
		background: #dceaf7;
		width: auto;
		height: 342px;
		overflow-y: scroll;
		position: relative;
		width: 100%;
		.row{
			padding: 0px;
			margin: 0px;
			left: 0px;
			top: 0px;
			.col-md-6{
				padding: 0px;
				margin: 0px;
			}
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				height: auto;
				width: 100%;
				border-bottom: 1px dashed @med-light-gray;
				padding-left: 15px;
				&:last-child{
					border-bottom:none;
				}
			}
		}
		a{
			color: @dark-blue;
			font-size: 16px;
			&:visited{
				color: @light-blue;
			}
		}
	}
}
	
.alternating-form{
	padding-top: 15px;
	position: relative;
	.row{
		border-left: 1px solid #c3c5c7;
		border-right: 1px solid #c3c5c7;
		margin: 0px;
		&:first-child{
			border-top: 1px solid #c3c5c7;
		}
	}
}
			
.help-tip{
	position: absolute;
	height: auto;
	width: 150px;
	display: block;
	padding: 10px;
	border: 1px solid @med-light-gray;
	border-radius: 7px;
	background: @yellow;
	color: @dark-gray;
	font-size: 14px;
	z-index: 3;
	top: 40px;
	left: 165px;
	display: none;
	.tip-bg{
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0px;
		left: 0px;
		background-color: transparent;
		z-index: 1;
	}
}			
			
			
.alternating-table{
	border-top: 1px solid @med-light-gray;
	margin-bottom: 0px !important;
	tr{
		background: white;
		&:last-child{
			border-bottom: 1px solid @med-light-gray;
		}
		&:nth-child(2n){
			background: #f6f7f7;
		}
	}
	th{
		border-right: 1px solid @med-light-gray;
		border-left:1px solid @med-light-gray;
		border-bottom: none;
		background: @peach;
		&:first-child{
			border-top-left-radius:10px;
		}
		&:last-child{
			border-top-right-radius:10px;
		}
	}
	tbody{
		background-color: white;
		td{
			border-top: 1px dashed @med-light-gray;
			border-right: 1px solid @med-light-gray;
			border-left: 1px solid @med-light-gray;
		}
	}
	a{
		color: @dark-blue;
		font-weight: 700;
		&:visited{
			color: @light-blue;
		}
	}
	.sort-up{
		position: relative;
		float: right;
		right: 5px;
		top: 0px;
		color: @med-light-gray;
		&:hover{
			cursor: pointer;
		}
	}
	.sort-down{
		position: relative;
		float: right;
		right: -5px;
		margin-top: 8px;
		color: @med-light-gray;
		@media(min-width:1705px){
			right: -7px;
		}
		@media(min-width:1200px) and (max-width:1531px){
			right: -4px;
		}
		@media(min-width:768px) and (max-width:1199px){
			right: -4px;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.active{
		color: @red;
	}

}

/* ===================== End Footer Settings ===================== */

/* ===================== Element Settings ===================== */
/* ============ Line-Graph ============ */
.line-graph{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	font-size: 16px;
	line-height: 16px;
	font-family: @robotoCon;
	color: @copy-gray;
	.center-line{
		position: relative;
		height: 2px;
		width: 100%;
		background: @med-gray;
		top: 50%;
		transform: translateY(-50%);
	}
	.vert-6{
		position: relative;
		display: block;
		border-left: 1px solid @med-gray;
		width: 16.667%;
		height: 30px;
		float: left;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		.above-center-left{
			position: absolute;
			top: -40px;
			left: -22px;
			display: inline-block;
			text-align: center;
			.above-line{
				position: relative;
				margin-top: -15px;
				margin-left: -3px;
			}
		}
		.below-center-left{
			position: absolute;
			bottom: -30px;
			left: -40px;
			display: inline-block;
		}
		.above-center-right{
			position: absolute;
			top: -40px;
			right: -18px;
			display: inline-block;
			text-align: center;
		}
	}
	.last{
		border-right: 1px solid @med-gray;
	}
}
/* ============ Line-Graph ============ */
/* ============ Tab Cluster ============ */
.tab-cluster{
	width: 100%;
	height: auto;
	padding-bottom: 0px;
	z-index: 3;
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		li{
			position: relative;
			display: inline-block;
			height: 50px;
			width: auto;
			padding: 6px 30px;
			text-align: center;
			color: @dark-blue;
			font-size: 18px;
			background: linear-gradient(#FFF, #e6e6e6);
			border-top: 1px solid #a8abad;
			border-left: 1px solid #a8abad;
			border-bottom: 1px solid #a8abad;
			margin-left: 0px;
			margin-right: -5px;
			margin-bottom: 0px;
			transition: all .5s;
			@media(min-width:768px) and (max-width:1199px){
				font-size: 16px;
				padding: 6px 15px;
			}
			&:hover{
				cursor: pointer;
				background: linear-gradient(#FFF, #FFF);
			}
			&:first-child{
				border-top-left-radius: 5px;
				padding: 6px 10px;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-right: 1px solid #a8abad;
				padding: 6px 10px;
			}
		}
		.active{
			border-bottom: 1px solid #edeff0;
			background: #edeff0;
			color: black;
			font-weight: 700;
			&:after{
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				bottom: -1px;
				left: 0px;
				background: #edeff0;
			}
		}
		.fa-chevron-circle-down, .fa-angle-right{
			font-size: 24px;
		}
		.fas{
			position: relative;
			top: 3px;
		}
	}
	.cluster-sub{
		position: absolute;
		height: auto;
		width: 100%;
		min-width: 201px;
		left: -1px;
		margin-top: 7px;
		background: white;
		z-index: 99 !important;
		display: none;
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: block;
				padding: 7px 10px;
				border-radius: 0px;
				background: white;
				border-right: 1px solid @med-light-gray;
				text-align: left;
				&:last-child{
					border-bottom: 1px solid @med-light-gray;
				}
			}
			.count{
				text-align: center;
			}
		}
	}
}
/* ============ End Tab Cluster ============ */
/* ============ Link Cluster ============ */
.link-cluster{
	font-size: 16px;
	font-weight: 700;
	line-height: 1px !important;
	ul{
		padding: 0px;
		list-style: none;
		li{
			display: block;
			position: relative;
			padding-top: 15px;
			a{
				color: inherit;
				text-decoration: none;
				text-decoration: underline;
			}
		}
	}
}
/* ============ End Link Cluster ============ */
/* ============ Button Cluster ============ */
.button-cluster{
	ul{
		list-style: none;
		padding: 0px;
		position: relative;
		display: block;
		margin: 0 auto;
		li{
			position: relative;
			display: inline-block;
			height: 60px;
			width: 56%;
			padding: 12px 15px;
			text-align: center;
			color: #a8abad;
			font-size: 16px;
			background: linear-gradient(#FFF, #dfdfdf);
			border-top: 1px solid #a8abad;
			border-left: 1px solid #a8abad;
			//border-bottom: 3px solid #a8abad;
			box-shadow: 0px 3px 0px #a8abad;
			margin-left: 0px;
			margin-right: -5px;
			transition: all .5s;
			&:hover{
				cursor: pointer;
				background: linear-gradient(#FFF, #FFF);
			}
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				padding: 12px 10px;
				color: @dark-blue;
				width: 12%;
				text-align: center;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right: 1px solid #a8abad;
				padding: 12px 10px;
				color: @dark-blue;
				width: 12%;
				text-align: center;
			}
			.step-count{
				display: none;
			}
		}
		.show-sub{
			color: @dark-blue;
			font-size: 25px;
			top: 3px;
			padding: 12px 10px 10px 10px;
			width: 20%;
			text-align: center;
		}
	}
	.button-cluster-sub{
		position: absolute;
		height: auto;
		width: 70vw;
		left: 0px;
		top: 100%;
		background: white;
		border: 1px solid @med-light-gray;
		z-index: 99;
		display: none;
		a{
			color: @dark-blue;
			&:visited{
				color: @light-blue;
			}
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: block;
				height: auto;
				width: 100%;
				border-bottom: 1px dashed @med-light-gray;
				border-top: none;
				border-left: none;
				border-right: none;
				background: white;
				text-align: left;
				padding-left: 10px;
			}
		}
	}
	.completed{
		color: @light-blue;
		box-shadow: 0px 3px 0px @light-blue;
		.step-count{
			color: white;
			font-size: 16px;
			font-weight: 700;
			background: @light-blue;
			position: absolute;
			display: inline-block;
			height: 25px;
			width: 25px;
			border-radius: 30px;
			line-height: 26px;
			bottom: -13px;
			left: 50%;
			transform:translateX(-50%);
		}
	}
	.current{
		color: black;
		box-shadow: 0px 3px 0px @dark-green;
		background: @yellow;
		.step-count{
			color: white;
			font-size: 16px;
			font-weight: 700;
			background: @dark-green;
			position: absolute;
			display: inline-block;
			height: 25px;
			width: 25px;
			border-radius: 30px;
			line-height: 26px;
			bottom: -13px;
			left: 50%;
			transform:translateX(-50%);
		}
	}
}
/* ============= End Button Cluster ========= */


/* ============ Custom Scrollbar ============  */
/* ============ FireFox and IE does not support Custom Scrollbar ============  */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
}
 
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(80,142,204,0.3);
	box-shadow: inset 0 0 6px rgba(80,142,204,0.3);
}
 
.custom-scroll::-webkit-scrollbar-thumb {
  	background-color: @light-blue;
	outline: 1px solid slategrey;
	box-shadow: 0 3px 3px 0px @dark-gray;
}
/* ============ End Custom Scrollbar ============  */
/* ===================== End Element Settings ===================== */
.swatch{
	height: 75px;
	width: 75px;
	position: relative;
}
.flt-left{
	float: left;
	margin-right: 10px;
}