/* ============= Site Variables ============ */

/* ====== Colors ===== */
@dark-blue: #004990;
@light-blue: #508ecc;
@sky-blue: #dceaf7;
@yellow: #faffd9;
@peach: #fff8db;
@orange: #fcaf17;
@light-green: #b8cb33;
@dark-green: #3eae48;
@dark-green: #3eae48;
@maroon: #9d1c20;
@red: #d1262b;
@copy-gray:#3e4347;
@dark-gray: #515254;
@med-gray: #a4a7ab;
@med-light-gray: #c3c5c7;
@light-gray: #edeff0;

/* ======= Fonts ====== */
@roboto: 'Roboto', sans-serif;
@robotoCon: 'Roboto Condensed', sans-serif;

/* ============= End Site Variables ============ */

/* ============= Global Site Settings ============ */

html, body{
	height: 100%;
	h1, h2, h3, h4, h5, h6{
		font-family: @roboto;
	}
	h1{ font-size: 64px; }
	h2{ font-size: 48px; }
	h3{ font-size: 32px; }
	h4{ font-size: 24px; }
	h5{ font-size: 20px; }
	h6{ font-size: 18px; }
	p, ul, ol{
		font-family: @roboto;
		font-size: 18px;
		line-height: 36px;
		color: @copy-gray;
	}
	a{
		color: @dark-blue;
		text-decoration: none;
		&:visited{
			color: @light-blue;
			text-decoration: underline;
		}
	}
	table{
		font-family: @robotoCon;
		font-size: 16px;
		color: @copy-gray;
		@media(min-width:1200px) and (max-width:1366px){
			font-size: 14px;
		}
		@media(min-width:1367px) and (max-width:1680px){
			font-size: 16px; 
		}
		thead{
			th{
				padding: 5px; 
			}
		}
	}
}
.site-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
/* ========== Backgrounds ========= */
.white-bg{ background: white; }
.inner-white-bg{ background: white; }
.gray-bg{ background: @light-gray; }
.med-gray-bg{background: @med-gray;}
.light-blue-bg{background: @sky-blue; }
.dark-blue-bg{background: @dark-blue;}
.light-gray-bg{ background: #f6f7f7;}
.yellow-bg{background: @yellow;}
.peach-bg{background: @peach;}

/* ========== Text ========= */
.xl-text{font-size: 26px !important;}
.large-text{font-size: 24px !important;}
.med-text{font-size: 20px !important;}
.small-text{font-size: 16px !important;line-height: 18px;}
.xs-text{font-size: 12px !important;}
/* ========== Weight ========= */
.light{font-weight: 100 !important;}
.regular{font-weight: 400 !important;}
.bold{font-weight: 700 !important;}
/* ========== Colors ========= */
.red{ color: @red !important;}
.dark-blue{color:@dark-blue !important;}
.light-blue{color: @light-blue !important;}
.orange{color: @orange !important;}
.white{color:white !important;}
.gray{color: #77797a !important;}

/* ========== Borders ========= */
.top-left-radius{ border-top-left-radius: 5px; }
.top-right-radius{ border-top-right-radius: 5px; }
.bottom-left-radius{ border-bottom-left-radius: 5px; }
.bottom-right-radius{ border-bottom-right-radius: 5px; }
.last-border{border-bottom:1px solid @med-gray !important;}
.no-border{border: none !important;}
.has-border{border:1px solid @med-light-gray;}
.has-radius{border-radius: 7px !important;}
.no-bottom-radius{border-bottom-left-radius: 0px !important;border-bottom-right-radius: 0px !important;}

/* ========== Paddings ========= */
.no-padding{padding: 0px !important;}
.pad-top-30{padding-top: 30px;}
.pad-top-10{padding-top:10px;}
.pad-bottom-5{padding-bottom:5px;}
.pad-bottom-10{padding-bottom:10px;}
.pad-bottom-30{padding-bottom:30px;}
.pad-bottom-50{padding-bottom:50px;}
.pad-right-5{padding-right: 5px;}
.no-bottom-padding{padding-bottom: 0px !important;}
.has-padding-lr{padding-left: 15px;padding-right:15px;}

/* ========== Margins ========= */
.no-left-margin{margin-left: 0px !important;}
.no-right-margin{margin-right: 0px !important;}
.no-bottom-margin{margin-bottom: 0px !important;}
.no-margin{margin: 0 !important;}

/* ========== Positions ========= */
.up-20{margin-top: -20px;}
.up-25{margin-top: -25px;}
.down-60{margin-top: 60px !important;}
.down-40{margin-top: 40px !important;}
.down-30{margin-top: 30px !important;}
.down-20{margin-top: 20px !important;}
.down-10{margin-top: 10px !important;}
.flt-right{float: right;}
.no-height{height:auto !important;max-height: none !important;}
.front{z-index: 9 !important;}
.middle{z-index: 5 !important;}
.back{z-index: 1 !important;}

.well{
	position: relative;
	height: auto;
	width: 100%;
	border-radius: 7px;
	padding: 10px 15px 5px 15px;
}
/* ========== Buttons ========= */
.dark-blue-btn{
	position: relative;
	width: 100%;
	height: auto;
	background: @dark-blue;
	color:white;
	display: inline-block;
	padding: 7px 15px;
	border-radius: 7px;
	border: 1px solid @dark-blue;
	box-shadow: 0px 2px 0px #286cb0;
	transition: all .25s;
	font-size: 6vw;
}
.white-btn{
	position: relative;
	height: auto;
	width: 100%;
	background: white;
	color: @dark-blue;
	display: inline-block;
	padding: 7px 15px;
	border-radius: 7px;
	border:1px solid #85898c;
	box-shadow: 0px 2px 0px #c3c5c7;
	transition: all .25s;
	font-size: 6vw;
}
.profile-btn{
	text-transform: uppercase;
	font-size: 14px;
	color: @dark-blue;
	background: green;
	.profile{
		position: absolute;
		width: 70%;
		text-align: center;
		.fa-user{
			color: @dark-blue;
			font-size: 26px;
		}
	}
	.alerts{
		position: absolute;
		width: 30%;
		right: 10px;
		top: -7px;
		.fa-bell{
			position: relative;
			font-size: 21px;
			color: #78797a;
		}
		.count{
			position: absolute;
			font-size: 11px;
			height: 18px;
			width: 18px;
			text-align: center;
			float: right;
			right: 2.2vw;
			left: auto;
			padding-top: 0px;
			line-height: 18px;
		}
	}
}

.file-list{
	list-style: none;
	padding: 0px;
	li{
		position: relative;
		display: block;
		line-height: 24px;
		font-size: 18px;
		font-weight: 700;
		color: @dark-blue;
		padding-left: 60px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px dashed @dark-gray;
		a{
			color: inherit;
		}
		&:before{
		  	font-family: "Font Awesome 5 Free";
		  	content: "\f1c1";
			font-weight: 400;
			position: absolute;
			left: 25px;
			top: 6px;
		}
		&:last-child{
			border-bottom: 0px;
		}
	}
}
.count{
	color: white;
	font-size: 16px;
	font-weight: 700;
	background: @red;
	position: relative;
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 30px;
	line-height: 22px;
	left: 5px;
	padding-top: 1px;
}
.responsive-table{
	position: relative;
	height: auto;
	width: 100%;
	overflow-x: scroll;
	table{
		font-size: 15px !important;
	}
	.table{
		min-width: 1150px;
	}
}
.pagination{
	position: relative;
	display: block;
	height: auto;
	width: auto;
	margin: 10px auto;
	display: inline-block;
	text-align: center;
	.page-link{
		background: @light-gray;
		border: 1px solid @med-light-gray;
		&:hover{
			background: white;
		}
		a{
			color: @dark-blue;
		}
	}
	.active{
		background: white !important;
	}
}
.section-head{
	border-bottom: 1px solid @med-gray;
}
.section-body{
	p{
		font-size: 18px;
		line-height: 24px;
	}
	ol,ul{
		line-height: 18px;
		
	}
}
.staff{
	ul{
		padding: 0px;
		list-style: none;
		li{
			padding: 7px 0px;
			border-bottom: 1px solid @med-gray;
			&:last-child{
				border-bottom: none;
			}
		}
	}
}
.system-alert{
	position: relative;
	height: auto;
	width: 100vw;
	background: #fff2b8;
	padding: 10px 15px;
	border-bottom: 1px solid @orange;
	left: -15px;
	top: -15px;
	.alert-title{
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 10px;
		border-bottom: 5px solid @orange;
		.show-alert-body{
			position: relative;
			color: @light-blue;
			font-size: 24px;
			font-weight: 400;
			float: right;
			right: 15px;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.alert-body{
		font-size: 6vw;
		display: none;
		@media(min-width:415px){
			font-size: 20px;
		}
	}
}
.corp-logo{
	position: relative;
	height: auto;
	width: 100%;
	padding: 15px;
	img{
		position: relative;
		display: block;
		height: auto;
		max-width: 100%;
		margin: 0 auto;
	}
}
.top-section-links{
	list-style: none;
	padding: 0px 15px;
	margin-bottom: 0px;
	text-align: center;
	a{
		color: white !important;
	}
	li{
		display: block;
		border-bottom: 1px solid @light-blue;
		padding: 7px 0px;
	}
}
.info-modal{
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 9999 !important;
	top: 0px;
	left: 0px;
	display: none;
	.modal-body{
		position: absolute;
		display: block;
		width: 95%;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 0px;
		z-index: 2;
		.modal-head{
			position: relative;
			height: auto;
			width: 100%;
			padding: 5px 10px;
			background: white;
			border-bottom: 1px solid @med-light-gray;
			color: @dark-blue;
			font-size: 24px;
			font-family: @robotoCon;
			.close-button{
				position: absolute;
				right: 10px;
				top: 5px;
			}
		}
		.modal-content{
			position: relative;
			height: auto;
			width: 100%;
			border-radius: 0px;
			border: none;
			padding: 5px 10px;
		}
		.modal-footer{

		}
	}
	.modal-bg{
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0px;
		left: 0px;
		background-color: rgba(0,0,0,0.8);
		z-index: 1;
	}
}
/* ============= End Global Site Settings ============ */

/* ===================== Top Section ====================== */
.top-section{
	position: fixed;
	width: 100%;
	height: auto;
	background: white;
	padding: 15px;
	z-index: 99;
	top: 0px;
	left: 0px;
	&:after{
		position: absolute;
		content: '';
		height: 0px;
		bottom: -3px;
		left: 0px;
		width: 100%;
		box-shadow: 0px 0px 3px 1px #000000;
		z-index: 8;
	}
	.logo{
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.site-version{
		color: @med-gray;
		font-family: @roboto;
		font-size: 12px;
		text-align: center;
		margin-bottom: 0px;
	}
	.profile-sub-menu{
		position: relative;
		height: auto;
		width: 100%;
		margin-top: 10px;
		padding: 7px 0px 0px 0px;
		background: white;
		border-top: 2px solid @med-gray;
		display: none;
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: block;
				border-bottom: 1px solid @med-gray;
				padding: 5px 0px;
				&:last-child{
					border-bottom: none;
					padding: 5px 0px 0px 0px;
				}
			}
			.icon{
				color: @med-light-gray;
				margin-right: 7px;
			}
			a{ color: @dark-blue;}
		}
		.count{
			height: 25px;
			width: auto;
			text-align: center;
			padding: 2px 8px 0px 8px;
		}
	}
}
// === Needed to push body down === \\
.top-section-filler{
	position: relative;
	width: 100%;
	height: auto;
	background: white;
	padding: 15px;
	box-shadow: 0px 0px 10px #000;
	visibility: hidden; // ---> Hide the filler container
	.logo{
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.site-version{
		color: @med-gray;
		font-family: @roboto;
		font-size: 12px;
		text-align: center;
		margin-bottom: 0px;
	}
}
/* =====================End Top Section ===================== */
/* ===================== Mobile Nav Section ====================== */
.mobi-nav-bar{
	position: fixed;
	bottom: 0px;
	width: 100vw;
	height: auto;
	padding: 0px 15px 5px 15px;
	background: @dark-blue;
	z-index: 99 !important;
	text-align: center;
	display: block;
	a{
		color: white !important;
		text-transform: uppercase;
		font-weight: 100;
		font-size: 3.5vw;
		text-decoration: none;
	}
	.icon{
		position: relative;
		top: 13px;
		font-size: 8vw;
	}
	ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
		li{
			display: inline-block;
			margin-right: 6.5vw;
			text-align: center;
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}
.mobi-search-container{
	position: absolute;
	bottom: 100%;
	left: 0px;
	width: 100%;
	height: auto;
	padding: 15px;
	background: @dark-blue;
	border-bottom: 2px solid white;
	display: none;
	.search-field{
		height: 35px;
		width: 95%;
		display: block;
		margin: 0 auto;
		border-radius: 20px;
		border: none;
		padding-left: 35px;
		padding-right: 15px;
		font-size: 18px;
	}
	.search-label{
		color: @light-blue;
		position: absolute;
		top: 15px;
		left: 9vw;
		font-size: 22px;
	}
}

.mobi-nav-container{
	position: absolute;
	bottom: 100%;
	left: 0px;
	height: auto;
	width: 100%;
	background: @dark-gray;
	border-bottom: 2px solid white;
	z-index: 999 !important;
	display: none;
	.mobi-nav{
		position: relative;
		height: 400px;
		width: 100%;
		padding: 0px;
		display: block;
		overflow: auto;
		a{
			color: white;
			text-transform: none;
			font-size: 18px;
			text-align: center;
		}
		ul{
			padding: 0px;
			list-style: none;
			position: relative;
			height: auto;
			li{
				position: relative;
				display: block;
				width: 100%;
				border-bottom: 1px solid #38393b;
				box-shadow: 0px 0px 1px #000;
				padding: 5px 0px;
				color: white;
				text-transform: none;
				font-size: 18px;
				font-weight: 400;
				.fas{
					position: absolute;
					top: 7px;
					right: 15px;
					font-size: 26px;
				}
				&:last-child{
					border-bottom: none;
					box-shadow: none;
					padding-bottom: 0px;
				}
			}
			.mobi-sub-nav{
				position: relative;
				height: auto;
				width: 100%;
				left: 0px;
				top: 5px;
				background: #a4a7ab;
				display: none;
				font-weight: 400;
			}
		}
	}
}
/* ===================== End Mobile Nav Section ====================== */
/* ===================== Title Section ====================== */
.page-title{
	position: relative;
	height: auto;
	width: 100%;
	background: url(img/title-bg.jpg) no-repeat;
	background-size: cover;
	padding: 15px;
	color: white;
	.title{
		position: relative;
		font-size: 9vw;
		font-weight: 100;
		line-height: 9vw;
	}
}
/* ===================== End Title Section ====================== */
/* ===================== Body Section ====================== */
.home-slider{
	position: relative;
	height: auto;
	width: 100%;
	margin-top: 0px;
	padding-top: 15px;
	.slider{
		position: relative;
		height: auto;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 7px;
		border: 1px solid @med-light-gray;
		z-index: 2;
		background: white;
		.slide-title{
			position: relative;
			width: 100%;
			text-align: center;
			font-size: 20px;
			color: @dark-blue;
		}
		.slide-description{
			position: relative;
			padding: 10px;
		}
		.button-container{
			position: relative;
			padding: 10px;
			text-align: center;
			.dark-blue-btn,.white-btn{
				width: 48%;
				font-family: @robotoCon;
				font-size: 14px;
				padding: 3px 5px;
				text-align: center;
				display: inline-block;
			}
		}
		.owl-dots{
			z-index: 3;
			position: absolute;
			bottom: 0px;
			text-align: center;
			width: 100%;
			.owl-dot{
				border: 1px solid @dark-blue;
				height: 15px;
				width: 15px;
				background: white;
				border-radius: 30px;
				display: inline-block;
				margin-left: 3px;
				margin-right: 3px;
			}
			.active{
				background: @dark-gray;
			}
		}
	}
	.carousel-nav{
		position: absolute;
		height: 1px;
		width: 90%;
		top: 44vw;
		left: 50%;
		transform: translateX(-47%);
		z-index: 3;
		font-size: 26px;
		color: @dark-blue;
		.next{
			position: absolute;
			right: 20px;
		}
		.prev{
			position: absolute;
			left: 0px;
		}
	}
}
.main-content{
	padding: 25px 0px 0px 0px !important;
	.content{
		position: relative;
		padding: 0px 15px;
		.row{
			margin: 0px;
		}
	}
	.fa-question-circle{
		color: @dark-blue;
		margin-left: 7px;
	}
	.search-claims{
		position: relative;
		label{
			position: absolute;
			z-index: 2;
			left: 10px;
			top: 12px;
			color: @light-blue;
			font-size: 20px;
		}
		.search{
			position: relative;
			width: 100%;
			height: 40px;
			border-radius: 20px;
			border: none;
			box-shadow: inset 0px 0px 3px #000;
			margin-top: 7px;
			padding-left: 35px;
			padding-right: 10px;
		}
		.white-btn{
			position: relative;
			width: 100%;
			margin-top: 15px;
			.far{
				position: relative;
				float: right;
				top: 5px;
			}
			&:after{
				position: absolute;
				content: '';
				height: 45px;
				width: 1px;
				background: @med-gray;
				right: 45px;
				top: 0px;
			}
		}
	}
	.disclaimer{
		color: @dark-gray;
		font-size: 15px;
		line-height: 18px;
	}
	.body-content{
		padding: 0px 10px;
	}
	.info-card{
		position: relative;
		border-top: 1px solid @med-light-gray;
		border-left: 1px solid @med-light-gray;
		border-right: 1px solid @med-light-gray;
		border-bottom: 3px solid @med-light-gray;
		border-radius: 7px;
		background: white;
		margin-bottom: 25px;
		.card-title{
			font-family: @robotoCon;
			font-size: 20px;
			color: @dark-blue;
			font-weight: 700;
			padding: 10px;
			background: linear-gradient(white, #e5e5e5);
			margin: 0px;
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			.count{
				padding-left: 7px;
				padding-right: 7px;
				padding-top: 1px;
				width: 35px;
				text-align: center;
			}
		}
		.card-body{
			@media(min-width:1200px) and (max-width:1468px){
				padding: 15px 10px;
			}
			.card-buttons{
				position: relative;
				margin-top: 15px;
				text-align: center;
				.dark-blue-btn{
					display: inline-block;
					font-size: 18px;
					@media(min-width:1693px) and (max-width:1799px){
						font-size: 16px;
					}
					@media(min-width:1589px) and (max-width:1692px){
						font-size: 14px;
					}
					@media(min-width:1400px) and (max-width:1588px){
						font-size: 14px;
						padding: 7px 5px;
					}
					@media(min-width:768px) and (max-width:1408px){
						position: relative;
						width: 100%;
						display: block;
					}
				}
				.white-btn{
					display: inline-block;
					font-size: 18px;
					margin-left: 10px;
					@media(min-width:1500px) and (max-width:1799px){
						font-size: 16px;
					}
					@media(min-width:1589px) and (max-width:1692px){
						font-size: 14px;
					}
					@media(min-width:1400px) and (max-width:1588px){
						font-size: 14px;
						padding: 7px 5px;
					}
					@media(min-width:768px) and (max-width:1408px){
						position: relative;
						width: 100%;
						display: block;
						margin-top: 10px;
						margin-left: 0px;
					}
				}
			}
		}
		.card-table{
			font-family: @robotoCon;
			font-size: 16px;
			color: #77797a;
			width: auto;
			height: 280px;
			overflow-y: scroll;
			position: relative;
			width: 100%;
			a{
				color: inherit;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:visited{
					color: @light-blue;
				}
			}
			td{
				padding: 5px;
			}
			.fas{
				color: @dark-blue;
				font-size: 22px;
			}
			.date-showing{
				position: relative;
				border: none;
				background-color: transparent;
				text-align: center;
				font-size: 20px;
				font-weight: 700;
				color: black;
				width: 175px;
				display: inline-block;
			}
			.alternating-table{
				margin-top: 0px;
				margin-bottom: 0px;
				th{
					padding: 10px 5px;
				}
				.no-border{
					td{
						border: none !important;
					}
				}
				a{
					font-weight: inherit;
				}
				.white-btn{
					font-size: 20px;
					padding: 1px;
				}
				.marker-container{
					position: relative;
					.marker{
						position: relative;
						font-size: 38px;
						margin-top: 12px;
					}
					.marker-id{
						position: absolute;
						color: white;
						font-size: 20px;
						top: 25%;
						left: 40%;
					}
				}
			}
			.claim-table{
				a{
					color: @dark-blue;
					&:visited{
						color: @light-blue;
					}
				}
			}
			.bolded-tb{
				td{
					padding-top: 20px;
					padding-left: 15px;
				}
				p{
					line-height: 18px;
				}
				.title{
					font-weight: 700;
					color: black;
					font-size: 16px;
				}
				.details{
					color: #77797a;
					font-weight: 400;
					margin-top: -5px;
					font-size: 16px;
				}
			}
			.head-border{
				th{
					border-left: 1px solid @med-light-gray;
					border-right: 1px solid @med-light-gray;
				}
			}
		}
		.card-bottom{
			background: #dceaf7;
			color: @dark-blue;
			padding: 20px;
			border-bottom-left-radius: 7px;
			border-bottom-right-radius: 7px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			.fas{
				position: relative;
				font-size: 18px;
				left: 7px;
				top: 2px;
			}
			a{
				color: inherit;
				text-decoration: none;
				transition: color .25s;
				&:hover{
					color: @dark-gray;
					text-decoration: underline;
				}
			}
		}
		.blue-card{
			background: #dceaf7;
			width: auto;
			height: 342px;
			overflow-y: scroll;
			position: relative;
			width: 100%;
			.row{
				padding: 0px;
				margin: 0px;
				left: 0px;
				top: 0px;
				.col-md-6{
					padding: 0px;
					margin: 0px;
				}
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					height: auto;
					width: 100%;
					border-bottom: 1px dashed @med-light-gray;
					padding-left: 15px;
					&:last-child{
						border-bottom:none;
					}
				}
			}
			a{
				color: @dark-blue;
				font-size: 16px;
				&:visited{
					color: @light-blue;
				}
			}
		}
	}
	.stats{
		position: relative;
		display: block;
		width: 100%;
		.stat-table{
			border-bottom: 1px solid @med-gray;
			@media(min-width:768px) and (max-width:991px){
				width: 100%;
				font-size: 16px;
			}
			tr{
				td{
					border-top: 1px solid @med-gray;
				}
			}
		}
	}
	.top-info-table{
		border-top: 1px solid @med-light-gray;
		//border-bottom: 1px dashed @med-light-gray;
		margin-bottom: 1px;
		@media(max-width:991px){
			font-size: 14px;
		}
		.light-blue{
			background: @sky-blue;
			color: @dark-gray;
			font-weight: 700;
			text-align: center;
			width: 60%;
			@media(max-width:991px){
				width: 50%;
			}
		}
		.green{
			background: @dark-green;
			color: white;
			font-weight: 700;
			width: 20%;
			@media(max-width:991px){
				width: 25%;
			}
		}
		td{
			border-left: 1px solid @med-light-gray;
			border-right: 1px solid @med-light-gray;
			&:first-child{
				border-left: none;
			}
			&:last-child{
				border-right: none;
			}
		}
	}
	.lower-info-table{
		margin-bottom: 0px;
		thead{
			font-family: @robotoCon;
			font-size: 16px;
			background: @peach;
			text-align: center;
			padding: 10px 0px;
			tr{
				th{
					border-top: 1px dashed @med-gray;
					border-bottom: 1px dashed @med-gray;
				}
			}
		}
		tbody{
			font-weight: 700;
			background: white;
			font-size: 18px;
			td{
				border: none;
				table{
					border: none;
				}
			}
			.criteria{
				font-family: @robotoCon;
				font-size: 20px;
				font-weight: 700;
				@media(max-width:1200px){
					font-size: 16px;
				}
			}
			.preferred{
				position: relative;
				display: block;
				width: 175px;
				margin: 0 auto;
				@media(max-width:1200px){
					width: 100px;
				}
			}
		}
	}
	.provider-search{
		position: relative;
		.search-field{
			position: relative;
			width: 100%;
			height: 35px;
			border-radius: 20px;
			border: none;
			box-shadow: inset 0px 0px 3px #000;
			padding-left: 35px;
			padding-right: 7px;
			font-size: 5vw;
			@media(max-width:1199px){
				margin-top: 15px;
				height: 35px;
			}
		}
		.search-label{
			position: absolute;
			z-index: 2;
			left: 23px;
			top: 3px;
			color: @light-blue;
			font-size: 20px;
			@media(max-width:1199px){
				top: 17px;
			}
		}
	}
}
.map-modal-container{
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0px;
	z-index: 999 !important;
	display: none;
	.map-bg{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background-color: white;
		z-index: 1;
	}
	.close-map{
		position: absolute;
		top: 10px;
		right: 10px;
		color: @light-blue;
		z-index: 3;
		font-size: 30px;
	}
	.map-body{
		position: relative;
		padding: 10px;
		margin-top: 10px;
		z-index: 2;
		#map{
			position: relative;
			height: 400px;
			width: 100%;
			z-index: 2;
			background: @light-gray;
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 7px;
				font-size: 4.1vw;
				img{
					width: 4.4vw;
				}
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
}
.light-blue-bg{
	label{
		position: absolute;
		top: 7px;
		left: 25px;
		z-index: 2;
		color: @light-blue;
		font-size: 24px;
	}
	.search{
		position: relative;
		width: 100%;
		height: 35px;
		border-radius: 20px;
		border: none;
		box-shadow: inset 0px 0px 3px #000;
		margin-top: 7px;
		padding-left: 40px;
		padding-right: 7px;
		z-index: 1;
		font-size: 20px;
	}
}
.alternating-table{
	border-top: 1px solid @med-light-gray;
	border-left: 1px solid @med-light-gray;
	border-right: 1px solid @med-light-gray;
	position: relative;
	width: 100%;
	margin-bottom: 0px !important;
	tr{
		background: white;
		&:last-child{
			border-bottom: 1px solid @med-light-gray;
		}
		&:nth-child(2n){
			background: #f6f7f7;
		}
	}
	tbody{
		background-color: white;
		td{
			border-bottom: 1px dotted @med-light-gray;
			border-right: none;
			border-left: none;
			p{
				font-size: 4vw;
				line-height: 4.5vw;
				margin-bottom: 3px;
				color: #77797a;
				font-family: @robotoCon !important;
			}
			.claim-link{
				color: #38393b;
				font-weight: 700;
			}
		}
	}
	a{
		color: @dark-blue;
		font-weight: 700;
		&:visited{
			color: @light-blue;
		}
	}
	.sort-up{
		position: relative;
		float: right;
		right: 5px;
		top: 0px;
		color: @med-light-gray;
		&:hover{
			cursor: pointer;
		}
	}
	.sort-down{
		position: relative;
		float: right;
		right: -5px;
		margin-top: 10px;
		color: @med-light-gray;
		&:hover{
			cursor: pointer;
		}
	}
	.active{
		color: @red;
	}
	.toggle-group{
		label{
			position: relative;
			font-weight: 400;
			color: @dark-blue;
			padding-left: 65px;
			width: auto;
			height: auto;
		}
		.onoffswitch{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 58px;
			.onoffswitch-switch{
				right: 33px;
			}
			.onoffswitch-label{
				width: 55px;
			}
			.onoffswitch-inner{
				&:before, &:after{
					font-size:14px !important;
				}
				&:before{
					padding-left: 8px;
				}
				&:after{
					padding-right: 10px;
				}
			}
		}
	}
	.white-btn{
		padding: 1px 0px;
		font-size: 14px;
		font-weight: 700;
		width: 55px;
		text-align: center;
	}
}
/* ===================== End Body Section ====================== */

/* ===================== Footer Section ====================== */
.footer-container{
	position: relative;
	height: auto;
	width: auto;
	.footer-link-section{
		position: relative;
		height: auto;
		width: auto;
		padding: 10px;
		background: @light-blue;
		a{
			color: white;
			text-decoration: none;
		}
		ul{
			padding: 0px;
			margin: 0px;
			list-style: none;
			li{
				display: block;
				width: 100%;
				height: auto;
				padding: 7px 10px;
				text-align: center;
				border-bottom: 1px solid white;
				&:last-child{
					border-bottom: none;
				}
				.far{
					margin-right: 7px;
				}
			}
		}
	}
	.footer-copy-section{
		position: relative;
		height: auto;
		width: auto;
		padding: 20px 10px;
		background: @dark-gray;
		color: white;
		font-size: 12px;
		text-align: center;
	}
	// === Footer nav filler for bottom spacing
	.mobi-nav-filler{
		position: relative;
		bottom: 0px;
		width: 100vw;
		height: auto;
		padding: 0px 15px 5px 15px;
		background: @dark-blue;
		z-index: 99 !important;
		text-align: center;
		a{
			color: white !important;
			text-transform: uppercase;
			font-weight: 100;
			font-size: 3.5vw;
			text-decoration: none;
		}
		.icon{
			position: relative;
			top: 13px;
			font-size: 8vw;
		}
		ul{
			padding: 0px;
			margin: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 6.5vw;
				text-align: center;
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
}
/* ===================== End Footer Section ====================== */

/* ===================== Element Settings ===================== */
.ui-datepicker{
	z-index: 10 !important;
	.ui-datepicker-year{
		display: block;
		margin: 0 auto !important;
	}
}
/* ============ Line-Graph ============ */
.line-graph{
	position: relative;
	display: block;
	width: 85%;
	height: auto;
	font-size: 14px;
	line-height: 16px;
	margin: 0 auto;
	.center-line{
		position: relative;
		height: 2px;
		width: 100%;
		background: @med-gray;
		top: 50%;
		transform: translateY(-50%);
	}
	.vert-6{
		position: relative;
		display: block;
		border-left: 1px solid @med-gray;
		width: 16.667%;
		height: 30px;
		float: left;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		img{
			position: relative;
			display: block;
			width: 10vw;
		}
		.above-center-left{
			position: absolute;
			top: -40px;
			left: -22px;
			display: inline-block;
			text-align: center;
			.above-line{
				position: relative;
				margin-top: -15px;
				margin-left: 0px;
			}
		}
		.below-center-left{
			position: absolute;
			bottom: -30px;
			left: -20px;
			display: inline-block;
		}
		.above-center-right{
			position: absolute;
			top: -40px;
			right: -18px;
			display: inline-block;
			text-align: center;
		}
	}
	.last{
		border-right: 1px solid @med-gray;
	}
}
/* ============ Line-Graph ============ */
/* ============ Tab Cluster ============ */
.tab-cluster{
	width: 100%;
	height: auto;
	padding-bottom: 0px;
	border-bottom: 1px solid #a8abad;
	z-index: 3;
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		li{
			position: relative;
			display: inline-block;
			height: 50px;
			width: auto;
			padding: 6px 35px;
			text-align: center;
			color: @dark-blue;
			font-size: 18px;
			background: linear-gradient(#FFF, #e6e6e6);
			border-top: 1px solid #a8abad;
			border-left: 1px solid #a8abad;
			margin-left: 0px;
			margin-right: -5px;
			margin-bottom: 0px;
			transition: all .5s;
			&:hover{
				cursor: pointer;
				background: linear-gradient(#FFF, #FFF);
			}
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				padding: 6px 10px;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right: 1px solid #a8abad;
			}
		}
		.sub-cluster{
			position: absolute;
			left: 0px;
			top: 46px;
			height: auto;
			width: auto;
			min-width: 250px;
			background: white;
			box-shadow: 0px 5px 7px #000;
			display: none;
			ul{
				padding: 0px;
				margin: 0px;
				list-style: none;
				li{
					position: relative;
					width: 100%;
					height: auto;
					padding: 6px 10px;
					border-left: none;
					border-right: none;
					border-top: none;
					border-bottom: 1px solid @med-light-gray;
					border-radius: 0px;
					background: white;
					text-align: left;
				}
			}
			.count{
				text-align: center;
			}
		}
		.active{
			border-bottom: 1px solid #edeff0;
			background: #edeff0;
			font-weight: 700;
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				bottom: -3px;
				left: 0px;
				background: #edeff0;
			}
		}
		.fa-chevron-circle-down, .fa-angle-right{
			font-size: 24px;
		}
		.fas{
			position: relative;
			top: 3px;
		}
	}
}
/* ============ End Tab Cluster ============ */
/* ============ Link Cluster ============ */
.link-cluster{
	font-size: 16px;
	ul{
		padding: 0px;
		list-style: none;
		li{
			display: inline-block;
			position: relative;
			padding-left: 15px;
			padding-right: 15px;
			a{
				color: inherit;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&:after{
				position: absolute;
				content: '';
				height: 20px;
				width: 1px;
				background: @dark-gray;
				top: 10px;
				right: 0px;
			}
			&:last-child{
				&:after{
					content: '';
					height: 0px;
					width: 0px;
				}
			}
		}
	}
}
/* ============ End Link Cluster ============ */
/* ============ Accordion Cluster ============ */
.accordion-cluster{
	padding: 15px 0px 0px 0px;
	list-style: none;
	margin: 0px;
		.accordion-btn{
			position: relative;
			height: auto;
			width: 100%;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0px;
				padding-bottom: 15px;
			}
			.accordion-main{
				position: relative;
				display: block;
				height: auto;
				width: 100%;
				padding: 5px 15px;
				border: 1px solid @med-light-gray;
				border-radius: 7px;
				font-size: 20px;
				color: @dark-blue;
				background: linear-gradient(#FFF, #dcdcdc);
			}
			.accordion-sub{
				position: relative;
				height: auto;
				width: 100%;
				top: -4px;
				padding: 5px 0px 5px 0px;
				background: white;
				border: 1px solid @med-light-gray;
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
				display: none;
				a{
					color: @dark-blue;
					&:visited{
						color: @light-blue;
					}
				}
				ul{
					padding: 0px;
					list-style: none;
					margin-bottom: 0px;
					li{
						height: auto;
						width: 100%;
						border-bottom: 1px dashed @med-light-gray;
						padding: 5px 15px;
						margin-bottom: 0px;
						&:last-child{
							border-bottom: none;
						}
					}
				}
		}
		.toggle-accordion{
			position: absolute;
			right: 10px;
			top: 5px;
		}
		.rotated{
			transform: rotate(180deg);
		}
		.count{
			height: 25px;
			width: auto;
			padding: 1px 7px;
			text-align: center;
		}
	}
}
/* ============ End Accordion Cluster ============ */
/* ============ Button Cluster ============ */
.button-cluster{
	ul{
		list-style: none;
		padding: 0px;
		li{
			position: relative;
			display: inline-block;
			height: 60px;
			width: auto;
			padding: 12px 25px;
			text-align: center;
			color: #a8abad;
			font-size: 18px;
			background: linear-gradient(#FFF, #dfdfdf);
			border-top: 1px solid #a8abad;
			border-left: 1px solid #a8abad;
			//border-bottom: 3px solid #a8abad;
			box-shadow: 0px 3px 0px #a8abad;
			margin-left: 0px;
			margin-right: -5px;
			transition: all .5s;
			&:hover{
				cursor: pointer;
				background: linear-gradient(#FFF, #FFF);
			}
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				padding: 12px 10px;
				color: @dark-blue;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right: 1px solid #a8abad;
				padding: 12px 10px;
				color: @dark-blue;
			}
			.step-count{
				display: none;
			}
		}
		.show-sub{
			color: @dark-blue;
			font-size: 25px;
			top: -1px;
			padding: 9px 15px 10px 15px;
		}
	}
	.button-cluster-sub{
		position: absolute;
		height: auto;
		width: 70vw;
		left: 0px;
		top: 100%;
		background: white;
		border: 1px solid @med-light-gray;
		z-index: 9;
		display: none;
		a{
			color: @dark-blue;
			&:visited{
				color: @light-blue;
			}
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: block;
				height: auto;
				width: 100%;
				border-bottom: 1px dashed @med-light-gray;
				border-top: none;
				border-left: none;
				border-right: none;
				background: white;
				text-align: left;
				padding-left: 10px;
			}
		}
	}
	.completed{
		color: @light-blue;
		box-shadow: 0px 3px 0px @light-blue;
		.step-count{
			color: white;
			font-size: 16px;
			font-weight: 700;
			background: @light-blue;
			position: absolute;
			display: inline-block;
			height: 25px;
			width: 25px;
			border-radius: 30px;
			line-height: 26px;
			bottom: -13px;
			left: 50%;
			transform:translateX(-50%);
		}
	}
	.current{
		color: black;
		box-shadow: 0px 3px 0px @dark-green;
		background: @yellow;
		.step-count{
			color: white;
			font-size: 16px;
			font-weight: 700;
			background: @dark-green;
			position: absolute;
			display: inline-block;
			height: 25px;
			width: 25px;
			border-radius: 30px;
			line-height: 26px;
			bottom: -13px;
			left: 50%;
			transform:translateX(-50%);
		}
	}
	.disabled{
		color: @copy-gray;
		&:hover{
			cursor: default;
			background: linear-gradient(#FFF, #dfdfdf);
		}
	}
}
/* ============= End Button Cluster ========= */
.form{
	.form-row{
		position: relative;
		height: auto;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed @med-light-gray;
		.form-control{
			width: 100%;
		}
		.custom-radio{
			label{
				position: relative;
				&:before{
					top: 0px;
				}
				&:after{
					top: 5px;
				}
			}
		}
		.date-range{
			position: absolute;
			left: 15px;
			top: 32px;
			height: 37px;
			font-size: 26px;
			color: @dark-blue;
			padding-right: 10px;
			border-right: 1px solid @med-light-gray;
			z-index: 2;
		}
		#datepicker{
			padding-left: 50px;
			position: relative;
			z-index: 1;
			background-color: transparent;
		}
		.col-6{
			padding: 0px;
			margin: 0px;
		}
	}
}

.subscriber-address{
	position: relative;
	height: 40px;
	.toggle-group{
		position: relative;
		margin-top: -15px;
		label{
			float: left;
			padding-left: 0px;
			width: 100%;
			padding-top: 5px;
			color: @med-gray;
		}
		.onoffswitch{
			float: right;
			right: 15px;
			width: 65px;
			//top: 2px;
		}
		.onoffswitch-inner:after{
			padding-right: 10px;
		}
		.onoffswitch-switch{
			right: 40px;
		}
		.onoffswitch-label{
			width: 60px;
		}
		.onoffswitch-inner{
			width: 200%;
		}
	}
}
.subscriber-contact{
	position: relative;
	height: 40px;
	.toggle-group{
		position: relative;
		margin-top: -15px;
		label{
			float: left;
			padding-left: 0px;
			width: 100%;
			padding-top: 5px;
			color: @med-gray;
		}
		.onoffswitch{
			float: right;
			right: 0px;
			width: 65px;
			//top: 2px;
		}
		.onoffswitch-inner:after{
			padding-right: 10px;
		}
		.onoffswitch-switch{
			right: 40px;
		}
		.onoffswitch-label{
			width: 60px;
		}
		.onoffswitch-inner{
			width: 200%;
		}
	}
}
/* ============ Custom Checkbox ======== */
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
	  position: relative;
	  content: '';
	  display: inline-block;
	  vertical-align: middle;
   	  text-align: center;
	  width: 40px;
	  height: 40px;
	  background: white;
	  border-radius: 5px;
	  border: 1px solid @med-light-gray;
	  padding: 5px;
	  margin-top: 30%;
	  left: 0px;
  }

  // Box hover
  &:hover + label:before {
    background: @dark-green;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: white;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. replaced with an image
  &:checked + label:after {
    content: url(img/checked.png);
	font-weight: 700;
    position: absolute;
    left: 3px;
    top: 15px;
    color: white;
  }
}
/* ============ End Custom Checkbox ======== */
/* ============ Custom Radio Button ======== */
.custom-radio {
	float: left;
	margin-right: 30px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: @dark-blue;
    position: absolute;
    top: 15px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* ============ End Custom Radio Button ============= */
/* ============ Toggle Checkbox ============ */
/* =========== Toggle Radio ============ */
// COLORS
@white: hsla(0, 0, 100%, 1);
@darkgray: hsla(0, 0, 24%, 1);
@base-gray: hsla(203, 15.85%, 32.15%, 1.0);
@gray-saturate-85: saturate(@base-gray, 85%);
@button-blue: lighten(@gray-saturate-85, 7%);

// TRANSITION SPEEDS
@transition-fast: 0.15s;

// ON OFF SWITCH
@switch-height: 22px;
@switch-width: 55px;
@switch-group-height: @switch-height + 2;
@toggle-group-height: @switch-height + 5;

// MIXINS
.box-sizing (@sizing: border-box) {
    -moz-box-sizing: @sizing;
    -webkit-box-sizing: @sizing;
    box-sizing: @sizing;
}

.transition (@attr,@time,@ease) {
    -webkit-transition: @attr @time @ease;
    -o-transition: @attr @time @ease;
    -moz-transition: @attr @time @ease;
    transition: @attr @time @ease;
}

.border-radius (@radius: 4px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
/* ON/OFF Switch */
.onoffswitch {
    position: relative;
    width: 50px;
	height: 25px;
    display: inline-block;
    font-size: 80%;
    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid darken(@white, 10%);
        .border-radius(@switch-height - 2);
        margin: 0;
		height: 30px;
		width: 75px;
    }

    .onoffswitch-inner {
        width: 200%;
        margin-left: -100%;
        .transition(margin, @transition-fast, ease-in-out);
        &:before,
        &:after {
            float: left;
            width: 50%;
            height: @switch-group-height;
            padding: 0;
            line-height: @switch-group-height;
            font-size: 100%;
            color: @white;
            font-weight: normal;
            .box-sizing(border-box);
        }

        &:before {
            content: "Yes";
            padding-left: 10px;
			padding-top: 1px;
            background-color: @dark-green;
            color: @white;
			height: 32px;
			font-size: 16px;
        }

        &:after {
            content: "No";
            padding-right: 20px;
			padding-top: 1px;
            background-color: darken(@white, 2%);
            color: @copy-gray;
            text-align: right;
			height: 37px;
			font-size: 16px;
        }
    }

    .onoffswitch-switch {
        width: 25px;
        height: 25px;
        margin: 0;
        background: @white;
        box-shadow: 0 0 3px rgba(0,0,0,.3);
        .border-radius(50%);
        position: absolute;
        top: 2px;
        bottom: 0;
        right: @switch-height + 35;
        .transition(right, @transition-fast, ease-in-out);
    }
	.t-switch{
		right: @switch-height + 17;
	}
}
.toggle-group {
    position: relative;
    input[type=checkbox] {
        position: absolute;
        left: 10px;
		visibility: hidden;
        &:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        &:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
            right: 1px;
            box-shadow: 0 0 3px rgba(0,0,0,.5);
        }

        &:focus  ~ .onoffswitch {
            outline: thin dotted #333;
            outline: 0;
        }
    }

    label {
        position: absolute;
        cursor: pointer;
        padding-left: @switch-width + 20;
        display: inline-block;
        text-align: left;
        line-height: @switch-group-height;
        width: auto;
        z-index: 1;
        height: @switch-group-height;
        font-weight: 200;
    }

}
/* ============== End Toggle Checkbox ============ */
/* ============== Custom Select Box ============ */ 
body select { 
	display: block; 
	padding: 7px 25px 7px 13px !important; 
	max-width: 100%; 
	height: auto !important; 
	border: 1px solid #e3e3e3; 
	border-radius: 5px; 
	background: url("img/selectbox_arrow.png") right center no-repeat; 
	background-color: #fff; 
	color: @dark-blue; 
	font-size: 16px; 
	line-height: 16px !important; 
	appearance: none; /* this is must */ 
	-webkit-appearance: none; -moz-appearance: none; 
} 
/* body select.select_box option */ 
body select option { padding: 0px 7px; }
/* for IE and Edge */ 
select::-ms-expand { display: none; } 
select:disabled::-ms-expand { background: #f60; } 
.select{width: 100%;}

/* ============ Custom Scrollbar ============  */
/* ============ FireFox and IE does not support Custom Scrollbar ============  */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
}
 
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(80,142,204,0.3);
	box-shadow: inset 0 0 6px rgba(80,142,204,0.3);
}
 
.custom-scroll::-webkit-scrollbar-thumb {
  	background-color: @light-blue;
	outline: 1px solid slategrey;
	box-shadow: 0 3px 3px 0px @dark-gray;
}
/* ============ End Custom Scrollbar ============  */
/* ===================== End Element Settings ===================== */